<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Suivi de votre contrôle</title>
        <style type="text/css">
            html {
                /*background-color: #eee !important;*/
                font-size:13px;
            }
            body {
                background-color: white;
                /* border:3px solid #e7e7e7;*/
                margin: 10px auto;
                padding:5px;
                font-family: Arial, Helvetica, sans-serif;
                width:620px;
            }
            tr, td, h2, h3, h4, a, p {
                margin:0;
                padding:0;
                vertical-align:center;
                text-decoration:none;
            }
            a {
                text-decoration:underline;
            }
            h4 {
                font-weight:normal;
            }
            table {
                width:100%;
                border: 1px solid #428bca;
                margin:20px auto;
            }
            table td {
                padding:2px 5px;
                border:1px solid lightgrey;
            }
            table tr {
            }
        </style>
    </head>
    <body>

       {# {% if environnement != 'prod' %}
            <p> CECI EST UN MAIL DE TEST, MERCI DE NE PAS EN TENIR COMPTE.</p>
            <br/>
        {% endif %}#}

        <p>
            Bonjour,
        </p>
        <br/>
        {% block body_mail %}
			<p>Le contrôle croisé <b>{{ pointDeControle.id }} - {{ pointDeControle.titre }}</b> a été ajouté à l'application Contrôles Croisés.</p>
			<p>
				Vous avez la possibilité 
				<a target="_blank" href="{{ validerRoute }}">de valider ou refuser</a> 
				la prise en compte de cette demande en vous dirigeant vers 
				<a target="_blank" href="{{ validerRoute }}">ce lien</a>
			.</p>
        {% endblock %}
        <table cellpadding="0" cellspacing="0" style="font-size:13px;">
            <tr style="background-color:#428bca;color:white;">
                <th colspan="2" height="15px"> Récapitulatif du contrôle</th>
            </tr>
           {# <tr style="background-color:#428bca;color:white;">
                <td width="40%"><b>le lien vers la fiche récap de la demande</b></td>
                <td width="40%">
					<b><a target="_blank" href="{{ ficheRoute }}">{{ pointDeControle.id }} - {{ pointDeControle.titre }}</a></b>
				</td>
            </tr>#}
            <tr>
                <td width="40%"><b>Intitulé du contrôle</b></td>
                <td width="60%">
{#                    <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">#}
						<a target="_blank" href="{{ ficheRoute }}">{{ pointDeControle.id }} - {{ pointDeControle.titre }}</a>
{#						{{ pointDeControle.id }} - {{ pointDeControle.titre }}#}
{#                    </a>#}
                </td>
            </tr>
            <tr>
                <td><b>Crée le</b></td>
                <td>
					{{ pointDeControle.dateAdded|date('d/m/Y') }}
                </td>
            </tr>
            <tr>
                <td><b>Demandeur</b></td>
                <td>
					{{ pointDeControle.nom }} {{ pointDeControle.prenom }} - 
					<a target="_blank" href="mailto:{{ pointDeControle.email }}">{{ pointDeControle.email }}</a>
				</td>
            </tr>
            <tr>
                <td><b>Direction du contrôle croisé</b></td>
                <td>
					{% if pointDeControle.direction %}
						{{ pointDeControle.direction.libelle }}
					{% endif %}
				</td>
            </tr>
            <tr>
                <td><b>Service du contrôle croisé</b></td>
                <td>
					{% if pointDeControle.service %}
						{{ pointDeControle.service.libelle }}
					{% endif %}
				</td>
            </tr>
			{% if pointDeControle.pole %}
				<tr>
					<td><b>Pole du contrôle croisé</b></td>
					<td>
						{{ pointDeControle.pole.libelle }}
					</td>
				</tr>
			{% endif %}					
            <tr>
                <td><b>Fréquence du contrôle croisé</b></td>
                <td>
					{% if pointDeControle.frequence == 30 %}
						mensuel
					{% elseif pointDeControle.frequence == 60 %}
						bimestriel
					{% elseif pointDeControle.frequence == 90 %}
						trimestriel
					{% elseif pointDeControle.frequence == 120 %}
						semestriel
					{% elseif pointDeControle.frequence == 360 %}
						annuel
					{% endif %}
				</td>
            </tr>
            <tr>
                <td><b>Personne à contacter</b></td>
                <td>{{ pointDeControle.nomAAppeler }} {{ pointDeControle.prenomAAppeler }}</td>
            </tr>
            <tr>
                <td><b>Téléphone de la personne à contacter</b></td>
                <td>{{ pointDeControle.telephoneAAppeler }}</td>
            </tr>
            <tr>
                <td><b>Description</b></td>
                <td>{{ pointDeControle.description }}</td>
            </tr>
        </table>	
		<br/>		
		<p>Le service qualité vous remercie de votre participation dans la démarche des contrôles croisés.</p>		
		<p>Bonne journée.</p>
        <br/>
       {# <div id="signature">
            <p>Cordialement,</p><br/>
            <p>Pôle WEB - poleweb@noz.fr</p>
            <p>Service Informatique - Univers NOZ</p>
        </div>#}
    </body>
</html>{# empty Twig template #}
