    	{% if environnement != 'prod' %}
    	<p> CECI EST UN MAIL DE TEST, MERCI DE NE PAS EN TENIR COMPTE.</p>
    	<br/>
    	{% endif %}

Bonjour,<br/><br/>

Vous avez reçu un nouveau message de la part de {{ contact.user.displayname }} : <br/><br/>

Objet du mail : {{ contact.objet }}<br/>
{% if contact.demande is not null %}
    Demande concernée :
    <a href="{{url}}{{ path('suivi_etudes_voir', {'id': contact.demande.id}) }}">
        {{ contact.demande}}
    </a>
    <br/><br/>
{% endif%}

Message : <br/>
{{contact.message}}

<br/><br/>
Bonne réception.