{% extends 'ChecklistBundle:template:base.html.twig' %}
{% block title %}
    Rapports
{% endblock %}
{% block body %}
	{{ parent() }}
	<div class="box">
		<div class="box-body">
			<H1>Rapport de la visite du magasin de {{ visite.magasin.nom }} le {{ visite.date|date('d/m/Y')}} </h1>
			<H2>par : {{ visite.technicien.displayname }}. </h2>	
				{% for resultat in rapport %}
					{% if loop.first or (rapport[loop.index-2].pointsDeControle.id != resultat.pointsDeControle.id ) %}		
						<p>	{{ resultat.pointsDeControle.nom}}</p>
						<table class="table tablesorter table-striped table-hover" style="margin:0 auto">
					{% endif %}
					{% if resultat.pointsDeControle.type == constant('TYPE_VISUEL', resultat.pointsDeControle) %}
						{% include 'ChecklistBundle:pointDeControle:controleVisuel.html.twig' with {'resultat': resultat} only %}
					{% elseif resultat.pointsDeControle.type == constant('TYPE_INSTALLATION_LOGICIEL', resultat.pointsDeControle) %}
						{% include 'ChecklistBundle:pointDeControle:InstallationDeLogiciel.html.twig' with {'resultat': resultat} only %}
					{% elseif resultat.pointsDeControle.type == constant('TYPE_ACTION', resultat.pointsDeControle) %}		
						{% include 'ChecklistBundle:pointDeControle:actionamener.html.twig' with {'resultat': resultat} only %}
					{% elseif resultat.pointsDeControle.type == constant('TYPE_RETOUR_INFO', resultat.pointsDeControle) %}
						{% include 'ChecklistBundle:pointDeControle:ControleAvecRetourDInfo.html.twig' with {'resultat': resultat} only %}
					{% endif %}						
					{% if loop.last or (rapport[loop.index].pointsDeControle.id != resultat.pointsDeControle.id )%}	
						</table>
					{% else %}
						<tr class="info"><td></td><td></td></tr>		
					{% endif %}	
				{% endfor %}
			</table>
			<p>COMMENTAIRE DU TECHNICIEN : {{ visite.commentaire }}</p>
			<div class="form-group">	
				<div class="container-fluid">
					<ul class="pagination">
						<li {% if page == 1%} class="disabled"{% endif %}>
							{% if page > 1%}<a href="{{ path('checklist_rapport_rapport_hotline', {'id' : visite.magasin.id, 'page': page - 1}) }}" >{% endif %}
								<span><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></span>
							{% if page > 1%}</a>{% endif %}
						</li>
						<li {% if page == nbPages %} class="disabled"{% endif %}>
							{% if page < nbPages%} <a href="{{ path('checklist_rapport_rapport_hotline', {'id' : visite.magasin.id, 'page': page + 1}) }}">{% endif %}
								<span><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></span>
							{% if page < nbPages%} </a>{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
		