{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Capacité mensuelle par métier Pole Etude {{ parent() }}
{% endblock %}
{% block suivietudes_body %}
    <link href="{{ asset('all/LTE/plugins/datepicker/datepicker3.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/bootstrap3-editable/css/bootstrap-editable.CSS') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/locales/bootstrap-datepicker.fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script>
        $(function () {
            //Datepicker
        {%if periode %}
                $('#datepicker').val('{{periode}}');
        {%endif%}
                var $datepickerOld = $('#datepicker').val();
                $('#datePicker').datepicker({
                    format: 'yyyy-mm-dd',
                    clearBtn: true,
                    language: "fr",
                    minViewMode: "months"
                });
                $('#datePicker').on('changeDate', function () {
                    $date = $('#datepicker').val();
                    if ($date != '' || $datepickerOld != $date) {
                        return window.location.href = '{{path('suivi_etudes_admin_project_person')}}' + '/' + $date;
                    }
                });

                //editable js
                $('.capacityPercentage').editable({
                    type: "number",
                    title: "Ajouter pourcentage",
                    value: '0',
                    url: "{{path('suivi_etudes_admin_project_add_user_capacity')}}",
                    name: 'percent',
                    params: function (params) {
                        // add additional params from data-attributes of trigger element
                        params.period = $(this).editable().data('period');
                        params.usrfirstname = $(this).editable().data('usrfirstname');
                        params.usrlastname = $(this).editable().data('usrlastname');
                        return params;
                    },
                    validate: function (newVal) {
                        if ($.trim(parseInt(newVal)) > 100) {
                            return "Valeur maximale pour cent est 100%.";
                        }
                    },
                    success: function (response, newValue) {
                        // update usable capacity column
                        if (response == "Success") {
                            $hours = $.trim($(this).parent().next().children().text());
                            $(this).parent().next().next().text(Math.ceil((newValue / 100) * $hours));
                        } else {
                            return response;
                        }
                    }
                });
                $('.capacityPercentage').on('click', function (e) {
                    $period = $('#datepicker').val();
                    $hours = $(this).parent().next().text();
                    $(this).attr('data-period', $period);
                    if ($period == '') {
                        e.stopPropagation();
                        $('.capacityPercentage').editable('hide');
                        alert('Choisissez une date valide.');
                        return;
                    }
                });
                $('.userCapacity').editable({
                    url: "{{path('suivi_etudes_admin_project_add_user_capacity')}}",
                    title: "Ajouter des heures mensuelles",
                    type: "number",
                    name: 'hours',
                    params: function (params) {
                        // add additional params from data-attributes of trigger element
                        params.period = $(this).editable().data('period');
                        params.usrfirstname = $(this).editable().data('usrfirstname');
                        params.usrlastname = $(this).editable().data('usrlastname');
                        params.percent = $(this).editable().data('percent');
                        return params;
                    },
                    success: function (response, newValue) {
                        // update usable capacity column
                        if (response == "Success") {
                            $percent = $.trim($(this).parent().prev().children().text());
                            $(this).parent().next().text(Math.ceil(($percent / 100) * newValue));
                        } else {
                            return response;
                        }
                    }
                });
                $('.userCapacity').on('click', function (e) {
                    $period = $('#datepicker').val();
                    $percent = $.trim($(this).parent().prev().children().text());
                    // add parameters to POST
                    $(this).attr('data-period', $period);
                    $(this).attr('data-percent', $percent);
                    if ($period == '') {
                        e.stopPropagation();
                        $('.userCapacity').editable('hide');
                        alert('Choisissez une date valide.');
                        return;
                    }
                });
        // tablesorter
        {%set depJS = []%}
        {% for key,usr in pagination %}
            {% if usr.pole not in depJS %}
                {%set depJS = depJS|merge([usr.pole])%}
                        $("#sorter{{usr.pole}}").tablesorter();
            {% endif %}
        {%endfor%}
            });
    </script>
    <section class="content-header">
        <h1>Capacité mensuelle par métier Pole Etude</h1>
        {# datepicker #}
        <div class="box-body">
            <div class="form-group pull-left">
                <a href="{{path('suivi_etudes_admin_project_person',{'periode':prevPeriode})}}" class="btn btn-primary">Precedent</a>
            </div>
            <div class="form-group col-xs-6 col-sm-4 col-md-2">
                <div id="datePicker" class="input-group input-append date">
                    <input type="text" name="date" class="form-control col-lg-6" data-fv-field="date" id="datepicker" disabled>
                    <span class="input-group-addon add-on btn"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <a href="{{path('suivi_etudes_admin_project_person',{'periode':nextPeriode})}}" class="btn btn-primary">Suivant</a>
        </div>
    </section>
    <section class="content">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            {%set departaments = []%}
            {% for key,usr in pagination %}
                {% if usr.pole not in departaments %}
                    {%set departaments = departaments|merge([usr.pole])%}
                    <li role="presentation" {%if key == 0%}class="active"{%endif%}>
                        <a href="#{{usr.pole}}" role="tab" data-toggle="tab">{{usr.pole}}</a>
                    </li>
                {% endif %}
            {%endfor%}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {% for key,dep in departaments %}
                <div role="tabpanel" class="tab-pane {%if key == 0%}active{%endif%}" id="{{dep}}">
                    <div class="box">
                        <div class="box-body">
                            <div role="grid" class="dataTables_wrapper form-inline">
                                <table class="table table-bordered table-striped dataTable" id='sorter{{dep}}'>
                                    <thead>
                                        <tr>
                                            <th style="cursor: pointer;">No.</th> 
                                            <th style="cursor: pointer;">Prénom / Nom</th> 
                                            <th style="cursor: pointer;">Pole</th> 
                                            <th style="cursor: pointer;">Poste</th> 
                                            <th style="cursor: pointer;">Capacité(pourcentage)</th> 
                                            <th style="cursor: pointer;">Capacité dispo(heures)</th> 
                                            <th style="cursor: pointer;">Capacité utilisable</th> 
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th style="cursor: pointer;">No.</th> 
                                            <th style="cursor: pointer;">Prénom / Nom</th> 
                                            <th style="cursor: pointer;">Pole</th> 
                                            <th style="cursor: pointer;">Poste</th> 
                                            <th style="cursor: pointer;">Capacité(pourcentage)</th> 
                                            <th style="cursor: pointer;">Capacité dispo(heures)</th> 
                                            <th style="cursor: pointer;">Capacité utilisable</th> 
                                        </tr>
                                    </tfoot>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        {% for key,usr in pagination %}
                                            {%if usr.pole == dep%}
                                                <tr>
                                                    <td>{{onPage*page-onPage+1+key}}</td>
                                                    <td>{{usr.prenom}} {{usr.nom}}</td>
                                                    <td>{{usr.pole}}</td>
                                                    <td>{{usr.poste}}</td>
                                                    <td>
                                                        <a href="#" class="capacityPercentage" data-pk="{{usr.userId}}" {%if usr.setCapacite%}data-value="{{usr.setCapacite}}"{%else%}data-value="{{usr.capacite}}"{%endif%} 
                                                           data-usrlastname="{{usr.nom}}" data-usrfirstname="{{usr.prenom}}"></a>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="userCapacity" data-pk="{{usr.userId}}" {%if usr.hours%}data-value="{{usr.hours}}"{%else%}data-value="0"{%endif%} data-usrlastname="{{usr.nom}}" data-usrfirstname="{{usr.prenom}}"></a>
                                                    </td>
                                                    <td class="capUsable">
                                                        {%if usr.hours%}{{((usr.setCapacite/100)*usr.hours) |round(0,'floor') }}{%else%}0{%endif%}
                                                    </td>
                                                </tr>
                                            {%endif%}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="row pull-right">
                                    {{ knp_pagination_render(pagination) }}                        
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                </div>
            {%endfor%}
        </div>

    </section>

{% endblock %}
