<style>
	.form-group {margin-bottom:5px !important;}
	.row {margin-left:0 !important;margin-right:0 !important;}
	.historiqueModification{font-size: 12px !important;}
</style>

<div class="modal" id="dateDuTraitement">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Date du traitement</h4>
			</div>
			<div class="modal-body">

				{% for flashMessage in app.session.flashbag.get('traiterArret') %}
					<div role="alert" class="alert alert-danger alert-dismissable disabled">
						<button data-dismiss="alert" class="close" type="button">×</button>
						<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
						<p style="display:inline-block;">{{ flashMessage }}</p>
					</div>
				{% endfor %}

				{% if formModal is defined and formModal %}
					{{ form_start(formModal, {'action': path('paie_arret_de_travail_traitement', {'id' : arret.id}), 'method': 'POST'}) }}
					{{ form_errors(formModal) }}
					<br/>
					{% if form_errors(formModal.dateTraitement) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(formModal.dateTraitement) }}</strong>
						</div>	
					{% endif %}		
					{{ form_label(formModal.dateTraitement) }}
					{{ form_widget(formModal.dateTraitement, {'attr': {'class': 'date'}}) }}	
					<br/>
					{{ form_end(formModal) }}
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="modal" id="lesPiecesJointes">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Des pieces jointes</h4>
			</div>
			<div class="modal-body">
	
				{% for flashMessage in app.session.flashbag.get('lesPiecesJointes') %}
					<div role="alert" class="alert alert-danger alert-dismissable disabled">
						<button data-dismiss="alert" class="close" type="button">×</button>
						<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
						<p style="display:inline-block;">{{ flashMessage }}</p>
					</div>
				{% endfor %}

				{% if formPiecesJointes is defined and formPiecesJointes %}												

					{{ form_start(formPiecesJointes, {'action': path('paie_arret_de_travail_pieces_jointes', {'id' : arret.id}), 'method': 'POST'}) }}

					<div class="form-group row">
						<label class="col-sm-3 control-label">Pièces jointes associées</label>
						<div class="col-sm-6">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							<br/>
							{% for pieceJointe in vieillesPiecesJointes %}
								<input type="checkbox" name="deleted[{{ pieceJointe.id }}]" value={{ pieceJointe.name }}>
								<a href='{{ cheminPieceJointe }}/paie/{{ arret.id }}/{{ pieceJointe.name }}'>
									<img src='{{ cheminImage }}{{extensions[pieceJointe.id]}}' width="35px"/>
									{{ pieceJointe.name }}
								</a>
								<br/>
							{% endfor %}
							<div class="form-group row">
								{{ form_label(formPiecesJointes.piecejointes, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
								<div  class="col-sm-4">
									{{ form_widget(formPiecesJointes.piecejointes, {'attr':  {'class': 'div_piecejointes'}}) }}
								</div>
							</div>		
						</div>
					</div>
					{% if is_granted("ROLE_PAIE_ARRET") %}
						<div class="form-group row">
							{{ form_label(formPiecesJointes.save, "", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
							<div class="col-sm-4 col-sm-offset-4">
								{{ form_widget(formPiecesJointes.save, {'attr': {'class': 'btn btn-success'}}) }}
							</div>
						</div>
						{{ form_end(formPiecesJointes) }}
					{% else %}
						{{ form_end(formPiecesJointes, {'render_rest' : false}) }}								
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% for flashMessage in app.session.flashbag.get('arretDeTravailSucces') %}
	<div role="alert" class="alert alert-success alert-dismissable disabled">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
		<p style="display:inline-block;">{{flashMessage|nl2br }}</p>
	</div>
{% endfor %}
{% if is_granted("ROLE_PAIE_ARRET") %}
	<a href="{{ path('paie_arret_de_travail_prolongation', {'id' : arret.id}) }}">
		<button type="button" class="btn btn-info" aria-label="Left Align">
			<span class="glyphicon glyphicon-forward" aria-hidden="true"></span> Prolonger
		</button>
	</a>
	<button type="button" data-toggle="modal" class="btn btn-info" data-target="#lesPiecesJointes"aria-label="Left Align">
		<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>Joindre
	</button>
{% endif %}
{% if	arret.datePriseEnCompte == '' 
		and is_granted("ROLE_PAIE_GESTIONNAIRE")
%}
	<a href="{{ path('paie_arret_de_travail_prise_en_compte', {'id' : arret.id}) }}"
	   onclick="return confirm('Voulez vous enregistrer la prise en compte de l\'arret dans Pandore ?');">
		<button type="button" class="btn btn-info" aria-label="Left Align">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Prise en compte
		</button>
	</a>
{% endif %}
{% if is_granted("ROLE_PAIE_GESTIONNAIRE") and arret.statut==2 %}							
	<button type="button" data-toggle="modal" class="btn btn-info" data-target="#dateDuTraitement"aria-label="Left Align">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Traitement
	</button>	
{% endif %}
{% if is_granted("ROLE_PAIE_ARRET") %}
		<button id="saveAjouterEtModifier" type="button" class="btn btn-info" aria-label="Left Align" style="display:none;">
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Enregistrer
		</button>
		<button id="pourModifier" type="button" class="btn btn-info" aria-label="Left Align">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Modifier
		</button>
{% endif %}

		<br/>
		<br/>
		{{ form_start(form) }}
				<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>Salarie</b></div>
			<div class="col-md-5 col-xs-2" id="salarie">{{arret.salarie.prenom}} {{arret.salarie.nom}}</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>N° Securite Sociale</b></div>
			<div class="col-md-5 col-xs-2" id="Securite Social">{{arret.NumeroSecuriteSociale}}</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>Societe</b></div>
			<div class="col-md-5 col-xs-2" id="societeLibelle">{{arret.societe.id}} - {{arret.societe}}</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>Gest. Paie</b></div>
			<div class="col-md-5 col-xs-2" id="societeGestPaie">{{ form_widget(form.gestPaie, {'attr': {'class': 'date', 'disabled': 'disabled'}}) }}</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>Gest. RH</b></div>
			<div class="col-md-5 col-xs-2" id="societeGestRH">{{ form_widget(form.gestRH, {'attr': {'class': 'date', 'disabled': 'disabled'}}) }}</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>Gest. Contrat</b></div>
			<div class="col-md-5 col-xs-2" id="societeGestContrat">{{ form_widget(form.gestContrat, {'attr': {'class': 'date', 'disabled': 'disabled'}}) }}</div>
		</div>
		<div  class="form-group row">
			{% if form_errors(form.nature) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.nature) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.nature) }}</div>
			<div class="col-md-5 col-xs-2">
					{{ form_widget(form.nature, {'attr':  {'disabled': 'disabled'}}) }}
			</div>
		</div>
		<div  class="form-group row">
			{% if form_errors(form.dateDebut) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.dateDebut) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.dateDebut) }}</div>
			<div class="col-md-5 col-xs-2">
				{% if arret.id is defined and arret.id %}
					{{ form_widget(form.dateDebut, {'attr': {'class': 'date', 'disabled': 'disabled'}}) }}
				{% else %}
					{{ form_widget(form.dateDebut, {'attr': {'class': 'date'}}) }}
				{% endif %}
			</div>
		</div>
		<div  class="form-group row">
			{% if form_errors(form.dateFin) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.dateFin) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.dateFin) }}</div>
			<div class="col-md-5 col-xs-2">
				{% if arret.id is defined and arret.id %}
					{{ form_widget(form.dateFin, {'attr': {'class': 'date', 'disabled': 'disabled'}}) }}
				{% else %}
					{{ form_widget(form.dateFin, {'attr': {'class': 'date'}}) }}
				{% endif %}
			</div>
		</div>
		<div  class="form-group row">
			{% if form_errors(form.dateReception) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.dateReception) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.dateReception) }}</div>
			<div class="col-md-5 col-xs-2">
				{% if arret.id is defined and arret.id %}
					{{ form_widget(form.dateReception, {'attr': {'class': 'date', 'disabled': 'disabled'}}) }}
				{% else %}
					{{ form_widget(form.dateReception, {'attr': {'class': 'date'}}) }}
				{% endif %}
			</div>
		</div>
		<div  class="form-group row">
			{% if form_errors(form.typeReception) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.typeReception) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.typeReception) }}</div>
			<div class="col-md-5 col-xs-2">
				{% if arret.id is defined and arret.id %}
					{{ form_widget(form.typeReception, {'attr':  {'disabled': 'disabled'}}) }}
				{% else %}
					{{ form_widget(form.typeReception) }}
				{% endif %}
			</div>
		</div>
		<div  class="form-group row">
			{% if form_errors(form.commentaire) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.commentaire) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.commentaire) }}</div>
			<div class="col-md-5 col-xs-2">
				{% if arret.id is defined and arret.id %}
					{{ form_widget(form.commentaire, {'attr':  {'disabled': 'disabled'}}) }}
				{% else %}
					{{ form_widget(form.commentaire) }}
				{% endif %}
			</div>
		</div>
		<div  class="form-group row">
			{% if form_errors(form.categorie) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.categorie) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">
				{{ form_label(form.categorie) }}
			</div>
			<div class="col-md-5 col-xs-2">
				{% if arret.id is defined and arret.id %}
					{{ form_widget(form.categorie, {'attr':  {'disabled': 'disabled'}}) }}
				{% else %}
					{{ form_widget(form.categorie) }}
				{% endif %}
			</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>Statut</b></div>
			<div class="col-md-5 col-xs-2" id="arretStatut">{{arret.displaystatut}}</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>Durée</b></div>
			<div class="col-md-5 col-xs-2" id="arretDuree">{{arret.duree}} jour(s) ({{arret.dureeTotale}} jours au total)</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>Délai réception</b></div>
			<div class="col-md-5 col-xs-2" id="arretDelaiReception">{{arret.DelaiReception}} jour(s)</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>L'état du trait.</b></div>
			<div class="col-md-5 col-xs-2" id="arretTraitement">{% if arret.Traite %} Traité {% else %} Non Traité {% endif %}</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>Date trait.</b></div>
			<div class="col-md-5 col-xs-2" id="arretDateTraitement">{{arret.DateTraitement}}</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>Délai trait.</b></div>
			<div class="col-md-5 col-xs-2" id="arretDelaiTraitement">{{arret.DelaiTraitement}} jour(s)</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2"><b>Date prise en compte</b></div>
			<div class="col-md-5 col-xs-2" id="arretDatePriseEnCompte">{{arret.DisplayDatePriseEnCompte}}</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-7 col-xs-2"><b>Etat pathologique résultant de la grossesse ?</b></div>
			<div class="col-md-1 col-xs-2" id="arretGrossesse">
				{% if arret.id is defined and arret.id %}
					{{ form_widget(form.grossesse, {'attr':  {'disabled': 'disabled'}}) }}
				{% else %}
					{{ form_widget(form.grossesse) }}
				{% endif %}
			</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-3 col-xs-2">{{ form_widget(form.id) }}</div>
		</div>
			<b>L'historique des modifications</b>
		<div  class="form-group row">
			<div class="col-md-2 col-xs-2" id="modificationDate" style="overflow:hidden;"><b>Date</b></div>
			<div class="col-md-2 col-xs-2" id="modificationDate" style="overflow:hidden;"><b>Utilisateur</b></div>
			<div class="col-md-2 col-xs-2" id="modificationType" style="overflow:hidden;"><b>Type</b></div>
			<div class="col-md-3 col-xs-2" id="modificationAncienneValeur" style="overflow:hidden;"><b>Ancienne Valeur</b></div>
			<div class="col-md-3 col-xs-2" id="modificationNouvelleValeur" style="overflow:hidden;"><b>N. Valeur</b></div>
		</div>		
		{% for modification in modifications %}
			{% set modificationData = modification.DisplayModification %}
			<div  class="form-group row">
				<div class="col-md-2 col-xs-2">{{modification.date|date('d/m/Y')}}</div>
				<div class="col-md-2 col-xs-2">{{modification.user}}</div>
				<div class="col-md-2 col-xs-2">{{modification.type}}</div>
				<div class="col-md-3 col-xs-2">{{modificationData.modificationAncienneValeur}}</div>
				<div class="col-md-3 col-xs-2">{{modificationData.modificationNouvelleValeur}}</div>
			</div>		
		{% endfor %}
		{{ form_end(form, {'render_rest' : false}) }}
		<style>
			.ui-autocomplete-loading { background:url({{ asset('bundles/paiearrettravail/img/loader.gif') }}) no-repeat center center !important; }
		</style>
		<script>
			var url_get_societe_details = {{ path('paie_get_societe_details')|json_encode|raw }};
			var url_get_arret_details = {{ path('paie_get_arret_details')|json_encode|raw }};
			var url_get_arret_modifications = {{ path('paie_get_arret_modifications')|json_encode|raw }};
			var url_get_arret_all_data = {{ path('paie_get_arret_all_data')|json_encode|raw }};
			{% if arret.id is defined and arret.id %}
				var idArret = {{ arret.id }};
			{% else %}
				var idArret = 0;
			{% endif %}			
			var errors = {{ errors }};	
							
		</script>
	{% block javascripts %}
		{% javascripts 
			'all/js/dateWidget.js'
			'@PaieArretTravailBundle/Resources/public/js/modifierArret.js'
			'@PaieArretTravailBundle/Resources/public/js/pieceJointes.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}