{% extends 'DPDCBundle:layout:base.html.twig' %}
{% block title %}
    Vision N1
{% endblock %}
{% block body %}
	{{ parent() }}

	{% block stylesheets %}
		{{ parent() }}
		
		<link href="{{ asset('bundles/dpdc/css/dpdc-planning.css') }}" rel="stylesheet" />
	{% endblock %}	
	
	<style>
		.tablesorter .tablesorter-filter {
			width: 100%;
		}

		.tablesorter tbody tr td,
		.tablesorter tbody tr td button,
		.tablesorter tbody tr td a{
			padding: 2px 5px !important;
			word-break: break-all;
		}
	</style>
	<h3>Vision N1</h3>
	<div class="modal" id="pointResultats">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Votre réponse au contrôle</h4>
				</div>
				<div class="modal-body" id="pointResultatsModalBody"></div>
			</div>
		</div>
	</div>
	{% for flashMessage in app.session.flashbag.get('dpdcPlanningSuccess') %}
		<div role="alert" class="alert alert-success alert-dismissable disabled">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
			<p style="display:inline-block;">{{ flashMessage }}</p>
		</div>
	{% endfor %}
	<div class="row">	
		<div class="col-sm-12">
			<ul class="nav nav-tabs">
				{% for month in allMonths %}
					<li><a class='clickableMonth' id="month{{ month }}" data-toggle="tab" href="#{{ month }}">{{ month }}</a></li>
				{% endfor %}
			</ul>	
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="tab-content">
				{% for month in allMonths %}
					<div id="{{ month }}" class="tab-pane fade">
						<table class="table tablesorter table-bordered table-striped dataTable planningPointsDeControle">
							<colgroup>
							   <col span="1" style="width: 17% !important;">
							   <col span="1" style="width: 11% !important;">
							   <col span="1" style="width: 11% !important;">
								{% if 'ROLE_DPDC_NIVEAU3' in app.user.roles or 'ROLE_COPIL' in app.user.roles %}
							   <col span="1" style="width: 11% !important;">
								{% endif %}
							   <col span="1" style="width: 8% !important;">
							   <col span="1" style="width: 22% !important;">
								{% if 'ROLE_DPDC_NIVEAU3' in app.user.roles or 'ROLE_COPIL' in app.user.roles %}
							   <col span="1" style="width: 12% !important;">	
								{% endif %}
							   <col span="1" style="width: 8% !important;">
							</colgroup>
							<thead>
								<tr>
									<th style="cursor: pointer;">Intitulé</th>
									<th style="cursor: pointer;">Personne à contacter</th>
									<th style="cursor: pointer;">Téléphone de la personne à contacter</th>
									{% if 'ROLE_DPDC_NIVEAU3' in app.user.roles or 'ROLE_COPIL' in app.user.roles %}
										<th style="cursor: pointer;">Niveau 1</th>	
									{% endif %}
									<th style="cursor: pointer;">réponse</th>
									<th style="cursor: pointer;">commentaire</th>	
									{% if 'ROLE_DPDC_NIVEAU3' in app.user.roles or 'ROLE_COPIL' in app.user.roles %}
										<th style="cursor: pointer;">Niveau 2</th>
									{% endif %}	
									<th class="filter-false" style='width:155px;'></th>	
								</tr>
							</thead>
							{% for PDC in plannedPDC[month] %}
								<tr id="{{PDC.id}}" class="{{month}}">									
									{% if resultatsMoisPointNiveau[month][PDC.id][niveau] is not defined %}
										{% set columnClass = 'warning' %}	
									{% elseif resultatsMoisPointNiveau[month][PDC.id][niveau] is defined %}
										{% if resultatsMoisPointNiveau[month][PDC.id][niveau]['reponse'] == false %}
											{% set columnClass = 'danger' %}	{% else %}	{% set columnClass = 'success' %}	{% endif %}
									{% endif %}
									<td class="{{ columnClass }}">{{PDC.titre}}</td>
									<td class="{{ columnClass }}">{{PDC.nomAAppeler}} {{PDC.prenomAAppeler}}</td>
									<td class="{{ columnClass }}">{{PDC.telephoneAAppeler}}</td>
									{% if 'ROLE_DPDC_NIVEAU3' in app.user.roles or 'ROLE_DPDC_NIVEAU2' in app.user.roles %}
										<td class="{{ columnClass }}">{{PDC.niveau1.displayname}}</td>	
									{% endif %}
									<td class="{{ columnClass }}">
										{% if resultatsMoisPointNiveau[month][PDC.id][niveau] is defined %}
											{{ resultatsMoisPointNiveau[month][PDC.id][niveau]['reponse'] ? 
											'<span class="label label-success">Oui</span>' : 
											'<span class="label label-danger">Non</span>' }} 
										{% else %}
											<span class="label label-warning">Pas enregitré</span>
										{% endif %}
									</td>
									<td class="{{ columnClass }}">
										{% if resultatsMoisPointNiveau[month][PDC.id]['niveau1'] is defined %}
											{{ resultatsMoisPointNiveau[month][PDC.id]['niveau1']['commentaire'] }}
										{% endif %}
									</td>	
									{% if 'ROLE_DPDC_NIVEAU3' in app.user.roles %}
										<td class="{{ columnClass }}">{{PDC.niveau2.displayname}}</td>	
									{% endif %}
									<td class="{{ columnClass }}">	
										<a href="{{ path('dpdc_point_de_controle_details', {'id' : PDC.id}) }}" title="Le point de contrôle" class="btn btn-sm btn-info">
											<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
										</a>
										{% if PDC.niveau1.id == userId %}												
											{% if PDC.frequence == 30 %}
												{% set aModifier = 0 %}
											{% elseif PDC.frequence == 60 or PDC.frequence == 90 %}
												{% set aModifier = 7 %}
											{% elseif PDC.frequence == 120 or PDC.frequence == 360 %}
												{% set aModifier = 15 %}
											{% else %}
												{% set aModifier = 0 %}
											{% endif %}												
											{% set now = "now"|date('ymd') %}
											{% set min = date(month|moisAnneeMakeDate)|date_modify("-" ~ aModifier ~ " days")|date('ymd') %}
											{% set max = date(month|moisAnneeMakeDate)|date_modify("+1 month")|date_modify("+" ~ aModifier ~ " days")|date('ymd') %}												
											{% if now >= min and now < max 
												and (commentairesMoisPointN2N1[month] is not defined
													or commentairesMoisPointN2N1[month][PDC.id] is not defined)											
											%}
												<button type="button" class="btn btn-sm btn-info enregistrerResultat" title='Enregistrer le résultat' aria-label="Left Align">
													<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
												</button>	
											{% endif %}
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<script>
		var url_session_month = {{ path('dpdc_session_month')|json_encode|raw }};
		var leMois = {{ leMois|json_encode|raw }};
		var url_ajouter_resultat = {{ path('dpdc_resultat_ajouter')|json_encode|raw }};
		var url_planning = {{ path('dpdc_vision_n1', {'niveau1' : userId, 'niveau2' : 0})|json_encode|raw }};
		$("#pointResultats").on("hide.bs.modal", function(){
			$("#pointResultatsModalBody").html("");
		});
		function enregistrerLeMois(leMois){
			$.ajax({
				dataType: "json",
				type: "POST",
				url: url_session_month,
				data: { leMois : leMois},  
				async: true,
				cache: false,
				error: function(jqXHR,textStatus, errorThrown ) {
	//				alert(jqXHR.responseText); return false;
				},
				success: function(data){
				}                                                                            
			});
			return false;
		}	
		$(function(){
			$(".planningPointsDeControle").each(function(){
				$(this).tablesorter({
					widthFixed : true,
					widgets:['filter']
				});
			});
			if(leMois !== 0){
				$('#'+leMois).click();
			}else{
				$('.clickableMonth').eq(12).click();
			}
			$('.clickableMonth').click(function(){
				var leMois = $(this).attr('id');
				enregistrerLeMois(leMois);
			});
		});
	</script>
	{% block javascripts %}
		{{ parent() }}
		<script src="{{ asset('bundles/dpdc/js/dpdc-planning.js') }}"></script>
	{% endblock %}
{% endblock %}