<div class="row">
	<div class="col-sm-6">
		<table class="table table-bordered table-striped">
			<tr>
				<td>Intitulé</td>
				<td>{{ pointDeControle.titre }}</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>{{ pointDeControle.description }}</td>
			</tr>
			<tr>
				<td>Nom</div>
				<td>{{ pointDeControle.nom }}</td>
			</tr>
			<tr>
				<td>Prenom</td>
				<td>{{ pointDeControle.prenom }}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{ pointDeControle.email }}</td>
			</tr>
			<tr>
				<td>Date</div>
				<td>{{ pointDeControle.dateAdded|date('d/m/Y') }}</td>
			</tr>
			<tr>
				<td>Type</div>
				<td>
					{% if pointDeControle.type == 1 %}Croises
					{% elseif pointDeControle.type == 2 %}Suivi process
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Statut</div>
				<td>
					{% if pointDeControle.statut == 1 %}Nouveau
					{% elseif pointDeControle.statut == 2 %}Validé
					{% elseif pointDeControle.statut == 3 %}Refusé
					{% endif %}				
				</td>
			</tr>
			<tr>
				<td>Premier mois</div>
				<td>
					{% if pointDeControle.lePremierMois is defined and pointDeControle.lePremierMois %}
						{{ pointDeControle.lePremierMois|date('d/m/Y') }}
					{% endif %}				
				</td>
			</tr>
		</table>
		{% if isNiveau3 and isNiveau3 %}	
		<a href="{{ path('dpdc_point_de_controle_modifier', {'id' : pointDeControle.id}) }}" title="Modifier le point de contrôle" class="btn btn-info">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"> Modifier</span>
		</a>
		{% endif %}	
	</div>
	<div class="col-sm-6">
	</div>
</div>	