{% extends 'DPDCBundle:layout:base.html.twig' %}
{% block title %}
    Points de contrôle
{% endblock %}
{% block body %}
	{{ parent() }}

	{% block stylesheets %}
		{{ parent() }}

		<link href="{{ asset('bundles/dpdc/css/dpdc-points.css') }}" rel="stylesheet" />
	{% endblock %}
	
	<style>
		.tablesorter .tablesorter-filter {
			width: 100%;
		}

		.tablesorter tbody tr td,
		.tablesorter tbody tr td button,
		.tablesorter tbody tr td a{
			padding: 2px 5px !important;
			word-break: break-all;
		}
		
		::-webkit-input-placeholder { font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif !important; }
		::-moz-placeholder { font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif !important; }
		::-ms-input-placeholder { font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif !important; }

	</style>

	<script>
		var url_points_de_controle = {{ path('dpdc_points_de_controle')|json_encode|raw }};
		function courielRappel(){
			$("#loader").show();
			$.ajax({
				type: "POST",
				url: url_points_de_controle,
				data: {'sendEmails' : 1},
				success: function(response){
					$("#loader").hide();
					{#document.open();
					document.write(response);
					document.close();#}
				},
				complete: function(){
					$(location).attr('href', url_points_de_controle);
					// THIS SECOND ONE KEPPS THE DESACTIVE STATUS BUT ASKS FOR CONFIRMATION RESEND
{#					location.reload();#}
				}
			});
		}
	</script>
	<div class="modal" id="pointDetails">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Les details du point de contrôle</h4>
				</div>
				<div class="modal-body" id="pointDetailsModalBody"></div>
			</div>
		</div>
	</div>
	<div class="row" id="custom_header">
		<div class="col-sm-4">
			<h3 id="points_title">Liste des contrôles</h3>
		</div>
		<div class="col-sm-4" id="affiche_conatainer">
            {% if 'ROLE_DPDC_NIVEAU3' in app.user.roles %}
                <p id="affiche">Afficher les points des contrôles désactivés ?</p>
                <div id="form_click2" class="form_button">
                </div>
                    <div class="form_display2">
                    {{ form_start(form) }}
                    {{ form_widget(form.afficheDesactive) }}
                    {{ form_label(form.save) }}
                    {{ form_widget(form.save) }}
                    {{ form_end(form) }}
                    </div>

            {% endif %}
		</div>
        <div class="col-sm-4">
            {% if 'ROLE_DPDC_NIVEAU3' in app.user.roles %}
                <a class="email_send" onclick="courielRappel();" title="Couriel rappel" >
                    <img src="{{ asset('bundles/dpdc/img/mail.png') }}" id="email_image">
                    <p id="email_text">Courriel rappel</p>
                </a>
            {% endif %}
        </div>
	</div>
	<div class="row">
		<div class="col-sm-12  main_table">
			{% for flashMessage in app.session.flashbag.get('dpdcPointsSuccess') %}
				<div role="alert" class="alert alert-success alert-dismissable disabled">
					<button data-dismiss="alert" class="close" type="button">×</button>
					<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
					<p style="display:inline-block;">{{ flashMessage }}</p>
				</div>
			{% endfor %}
			<table class="table tablesorter table-bordered table-striped dataTable" id="listePointsDeControle">
				<colgroup>
				   <col span="1" style="width: 5% !important;">
				   <col span="1" style="width: 20% !important;">
				   <col span="1" style="width: 8% !important;">
				   <col span="1" style="width: 8% !important;">
				   <col span="1" style="width: 8% !important;">
				   <col span="1" style="width: 15% !important;">
				   <col span="1" style="width: 8% !important;">
					{% if 'ROLE_DPDC_NIVEAU3' in app.user.roles or 'ROLE_COPIL' in app.user.roles %}
					<col span="1" style="width: 14% !important;">
					<col span="1" style="width: 14% !important;">
					{% else %}
					<col span="1" style="width: 28% !important;">
					{% endif %}					
				</colgroup>
				<thead class="table_custom_head">
					<tr>
						<th>Id</th>
						<th>Intitulé</th>
						<th>Date<img src="{{ asset('bundles/dpdc/img/calendar.png') }}" class="calendar_select"></th>
						<th>Type<img src="{{ asset('bundles/dpdc/img/drop_arrow.png') }}" class="drop_arrow"></th>
						<th>Statut<img src="{{ asset('bundles/dpdc/img/drop_arrow.png') }}" class="drop_arrow"></th>
						<th>Demandeur</th>
						<th>Premier mois<img src="{{ asset('bundles/dpdc/img/calendar.png') }}" class="calendar_select"></th>
						{% if 'ROLE_DPDC_NIVEAU3' in app.user.roles or 'ROLE_COPIL' in app.user.roles %}
							<th>Validation COPIL</th>
						{% endif %}
                        <th class="filter-false">	
                            Actions
                        </th>
					</tr>
				</thead>
				{% for point in pointsDeControle %}
					<tr id="{{point.id}}" {% if point.statut == 3 %}class="danger"{% endif %}>
						<td class="pointDeControle" id="id_place">{{ point.id }}</td>
						<td class="pointDeControle" id="titre_place">{{ point.titre }}</td>
						<td class="pointDeControle" id="date_place">{{ point.dateAdded|date('d/m/Y') }}</td>
						<td class="pointDeControle" id="type_place">
							{% if point.type == 1 %}Croises
							{% elseif point.type == 2 %}Suivi process
							{% endif %}
						</td>
						<td class="pointDeControle" id="statut_place">
							{% if point.statut == 1 %}Nouveau
							{% elseif point.statut == 2 %}Actif
							{% elseif point.statut == 3 %}Inactif
							{% endif %}
						</td>
						<td class="pointDeControle" id="name_place">
							{{ point.nom }} {{ point.prenom }}
						</td>
						<td class="pointDeControle" id="moins_place">
							{% if point.lePremierMois is defined and point.lePremierMois %}
								{{ point.lePremierMois|localizeddate('long', 'none', 'en')|frMois }}
							{% endif %}
						</td>
						{% if 'ROLE_DPDC_NIVEAU3' in app.user.roles or 'ROLE_COPIL' in app.user.roles %}
							<td class="pointDeControle" id="reponse_place">
								{% if point.reponse is defined %}
									{% if point.reponse > 0 %}
										Oui
									{% elseif point.reponse is not null %}
										Non
									{% elseif not point.reponse %}
										N/A
									{% endif %}
									{% if point.dateReponse %}
										- {{ point.dateReponse|localizeddate('long', 'none', 'en')|frMois }}
									{% endif %}
								{% endif %}
							</td>
						{% endif %}
                        <td id="actions_place">		
                            <a href="{{ path('dpdc_point_de_controle_details', {'id' : point.id}) }}" title="Le point de contrôle" class="btn btn-sm btn-info" id="btn_clear">
                                <img src="{{ asset('bundles/dpdc/img/see.png') }}" id="see">
                            </a>	
                            {% if 'ROLE_DPDC_NIVEAU3' in app.user.roles %}
                                <a href="{{ path('dpdc_point_de_controle_modifier', {'id' : point.id}) }}" title="modifier le point de contrôle" class="btn btn-sm btn-info" id="btn_clear">
                                    <img src="{{ asset('bundles/dpdc/img/edit.png') }}" id="edit">
                                </a>
                                {% if point.statut != 3 %}
                                    <a class="btn btn-sm btn-info" id="btn_clear" onclick="if (confirm('Etes-vous sûr de vouloir annuler ce contrôle?')) {
                                                annulerPDC({{point.id}});
                                                }" title="Annuler" >
                                        <img src="{{ asset('bundles/dpdc/img/delete.png') }}" id="delete">
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<script>
		var url_get_point = {{ path('dpdc_point_de_controle')|json_encode|raw }};
		var url_annuler_PDC = {{ path('dpdc_annuler_PDC')|json_encode|raw }};

		function annulerPDC(PDC){
			$("#loader").show();
			$.ajax({
				dataType: "json",
				type: "POST",
				url: url_annuler_PDC,
				data: { PDC : PDC},
				async:false,
				cache: false,
				error: function(jqXHR,textStatus, errorThrown ) {
	//				alert(jqXHR.responseText); return false;
				},
				success: function(data){
					$("#loader").hide();
				}
			});
			return false;
		}  	
         $(document).ready(function(){
            {#$('body').addClass('sidebar-collapse');#}
              var checked;
              checked = $("#form_afficheDesactive").prop('checked');
              if(checked==true){
                  $("#form_click2").addClass('form_button_on').removeClass('form_button');
                  $("#form_afficheDesactive").prop('checked',false);
              }else{
                    $("#form_click2").addClass('form_button').removeClass('form_button_on');
                    $("#form_afficheDesactive").prop('checked',true);
              }
                $('.tablesorter th:eq(0)').data('placeholder', 'Id').css("font-family", $('.tablesorter-headerRow').css("font-family"));  
                $('.tablesorter th:eq(1)').data('placeholder', 'Titre').css("font-family", $('.tablesorter-headerRow').css("font-family"));  
                $('.tablesorter th:eq(2)').data('placeholder', 'Date').css("font-family", $('.tablesorter-headerRow').css("font-family"));  
                $('.tablesorter th:eq(3)').data('placeholder', 'Type').css("font-family", $('.tablesorter-headerRow').css("font-family"));  
                $('.tablesorter th:eq(4)').data('placeholder', 'Statut').css("font-family", $('.tablesorter-headerRow').css("font-family"));  
                $('.tablesorter th:eq(5)').data('placeholder', 'Demandeur').css("font-family", $('.tablesorter-headerRow').css("font-family"));  
                $('.tablesorter th:eq(6)').data('placeholder', 'Mois').css("font-family", $('.tablesorter-headerRow').css("font-family"));  
                $('.tablesorter th:eq(7)').data('placeholder', 'Validation').css("font-family", $('.tablesorter-headerRow').css("font-family"));  
				$('.chosen').chosen();
				$("#listePointsDeControle").tablesorter({
					widthFixed : false,
					widgets:['filter']
			   });
				setTimeout(function(){                  
                        $('input, textarea').placeholder({customClass:'myplaceholder'});
              
                },500);
        });
        $("#form_click2").click(function() {
            $('form[name="form"]').submit();
        });
	</script>
	{% block javascripts %}
		{{ parent() }}

		<script src="{{ asset('bundles/dpdc/js/jquery.placeholder.min.js') }}"></script>
		<script src="{{ asset('bundles/dpdc/js/dpdc-points.js') }}"></script>
	{% endblock %}
{% endblock %}