{% extends 'ChecklistBundle:template:base.html.twig' %}
{% block title %}
    Visite
{% endblock %}
{% block body %}	
	{{ parent() }}
	{% stylesheets 
		'js/jquery-ui-1.11.1/jquery-ui.min.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />    
	{% endstylesheets %}
	
	<script>
		var url_verif_dispo = {{ path('checklist_magasin_verif_dispo')|json_encode|raw }}
	</script>
	
	<script>
		$(document).ready(function() {
			$('.formNouvelleVisite').submit(function() {
				var technicien = $('.select-technicien option:selected').val();
				var date = $('.date').val();
				$.ajax({
					dataType: "json",
					type: "POST",
					url: url_verif_dispo,
					data: { technicien : technicien, date: date},  
					async:false,
					cache: false,
					error: function(jqXHR,textStatus, errorThrown ) {
						alert(jqXHR.responseText); return false;
					},
					success: function(visite){
						if (visite == 'pas de visite prevue') {
							this.submit();
						}
						else {
							var reponse = confirm("Ce technicien a déja une visite de prévu à " + visite + " ce jour là. Voulez vous qu\'il fasse plusieurs visites?");
							if (reponse){
								this.submit();
							}
						}    	
					}                                                                            
				});
				return false;
			});
		});
	</script>
	
	
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div role="alert" class="alert alert-success alert-dismissable disabled">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
			<p style="display:inline-block;">{{ flashMessage }}</p>
		</div>
	{% endfor %}	
	{#{% if message | length %}
		<div class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>{{ message }}</strong>
		</div>
	{% endif %}#}
	{{ include('ChecklistBundle:magasin:menu.html.twig') }}	
	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class':'formNouvelleVisite'}}) }}	
    {{ form_errors(form) }}    
	<table class="table table-striped table-hover ">
	{% set jours = ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"] %}
	{% for ligne in planning %}	
		<tr class="info">
			{% if loop.first%}
				<td>			
				</td>
				{% for i in 1..15 %}
				<td>
					{{jours[ligne[i]|date('w')]}}
					{{ligne[i]|date('d/m/Y') }}			
				</td>
				{% endfor %}
			{% else %}
				{% for i in 0..15 %}
					<td>				
					{% if ligne[i] is defined %}
						<b>{{ligne[i]}}</b>
					{% else %}
						-
					{% endif %}			
				</td>
				{% endfor %}
			{% endif %}
		</tr>		
	{% endfor %}	
	</table>			
	<table class="table table-striped table-hover ">
		<tr class="info">
			<td>
				<label> Magasin </label>				
			</td>		
			<td>
				{{ form.vars['value'].magasin.nom }}
			</td>
		</tr>	
		<tr class="info">
			<td>
				{{ form_label(form.date) }}				
				{% if form_errors(form.date) | length %}
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>{{ form_errors(form.date) }}</strong>
					</div>	
				{% endif %}
			</td>		
			<td>
				{{ form_widget(form.date, {'attr': {'class': 'date'}}) }}
			</td>
		</tr>
		<tr class="info">
			<td>
				{{ form_label(form.checklists) }}
				{% if form_errors(form.checklists) | length %}
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>{{ form_errors(form.checklists) }}</strong>
					</div>	
				{% endif %}		
			</td>		
			<td>	
				{{ form_widget(form.checklists) }}
			</td>
		</tr>
		<tr class="info">
			<td>
				{{ form_label(form.technicien) }}
				{% if form_errors(form.technicien) | length %}
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>{{ form_errors(form.technicien) }}</strong>
					</div>	
				{% endif %}	
			</td>		
			<td>	
				{{ form_widget(form.technicien, {'attr': {'class': 'select-technicien'}}) }}
			</td>
		</tr>
		<tr class="info">
			<td>
				{{ form_widget(form.save) }}
			</td>		
			<td>	
			</td>
		</tr>
	</table>
	{{ form_end(form) }}	
	{{ include('ChecklistBundle:magasin:menu.html.twig') }}		
{% endblock %}