
.tablesorter .tablesorter-filter-row td:nth-child(10n+1) .tablesorter-filter {
    width: 40px;
}
.tablesorter .tablesorter-filter-row td:nth-child(10n+2) .tablesorter-filter {
    width: 85px;
}
.tablesorter .tablesorter-filter-row td:nth-child(10n+3) .tablesorter-filter {
    width: 80px;
}

.tablesorter .tablesorter-filter-row td:nth-child(10n+4) .tablesorter-filter {
    width: 150px;
}

.tablesorter .tablesorter-filter-row td:nth-child(10n+5) .tablesorter-filter {
    width: 190px;
}
.tablesorter .tablesorter-filter-row td:nth-child(10n+6) .tablesorter-filter {
    width: 100px;
}
.tablesorter .tablesorter-filter-row td:nth-child(10n+7) .tablesorter-filter {
    width: 50px;
}

.tablesorter .tablesorter-filter-row td:nth-child(10n+8) .tablesorter-filter {
    width: 190px;
}

.tablesorter .tablesorter-filter-row td:nth-child(10n+9) .tablesorter-filter {
    width: 80px;
}

.tablesorter .tablesorter-filter-row td:nth-child(10n+10) .tablesorter-filter {
    width: 80px;
}
