.tablesorter .tablesorter-filter-row td:nth-child(1) .tablesorter-filter {
    width: 40px;
}

.tablesorter .tablesorter-filter-row td:nth-child(2) .tablesorter-filter {
    width: 60px;
}

.tablesorter .tablesorter-filter-row td:nth-child(3) .tablesorter-filter {
    width: 200px;
}
