html, body, div, p {
margin:0;
padding:0;
font-family: Candara;
}

.carousel-indicators li {
	background-color:black;
}

.carousel-indicators .active{
	background-color:red;
	
}

/*Page achats*/
.achats	{
	width:100%;
	height:100%;
	background: url(fonds/FOND_SEUL_v2.png) no-repeat center fixed; 
	webkit-background-size: cover; /* pour Chrome et Safari */
	moz-background-size: cover; /* pour Firefox */
	background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}

/*Page brouillon (de test)*/
.brouillon{
	width:100%;
	height:100%;
	background: url(fonds/FOND_SEUL_v2.png) no-repeat center fixed; 
	webkit-background-size: cover; /* pour Chrome et Safari */
	moz-background-size: cover; /* pour Firefox */
	background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}

/* Page DRH */
.drh{
	width:100%;
	height:100%;
	background: url(fonds/FOND_SEUL_v2.png) no-repeat center fixed; 
	webkit-background-size: cover; /* pour Chrome et Safari */
	moz-background-size: cover; /* pour Firefox */
	background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}

/* Page siège */
.siege{
	width:100%;
	height:100%;
	background: url(fonds/FOND_SEUL_v2.png) no-repeat center fixed; 
	webkit-background-size: cover; /* pour Chrome et Safari */
	moz-background-size: cover; /* pour Firefox */
	background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}

/* Page des chiffres globaux aux achats, détaillés par équipes, par acheteurs */
.chiffres{
	width:100%;
	height:100%;
	background: url(fonds/FOND_SEUL_v2.png) no-repeat center fixed; 
	webkit-background-size: cover; /* pour Chrome et Safari */
	moz-background-size: cover; /* pour Firefox */
	background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}

/* Logo NOZ Infos */
.logo1{
	position: absolute;
	top: 0em;
	left: 0em;
	width:20%;
	height:20%;
}

/* Logo NOZ World */
.logo2{
	position: fixed;
	z-index:1;
	bottom: 0em;
	left: 0em;
	width:25.84%;
	height:30%;
}

/* Titre des pages*/
.titre{
	position: absolute;
	padding-top:1em;
	top: 0em;
	right: 0em;
	width:80%;
	height:20%;
}

/* Contenu : image représentant le contenu des pages (ex : d_drh - d_achats)*/
.cont {
	width:60%;
	height: 40%;
	margin-left: 10%;
	margin-top: 5%;
}

/* Style pour les ligne des tableaux*/
.sizeTD{
	font-weight:bold;
	text-align:center;
}
.sizeTDeq{
	font-size:2.5em;
	font-weight:bold;
	text-align:center;
}

font{
	color: black;
}

.rouge{
	color: #FF0000;
}

.tablechiffre{
	 height: 250 px;
}

.sizeTD4{
	font-size:2em;
	font-weight:bold;
	text-align:center;
}


/*Style pour les titre des colonnes*/
.sizeTH{
	color:#FFFFFF;
	background-color:#97B434;
	text-align:center;
	font-weight:bold;
}

/*Style pour la date et le numéro de semaine*/
.sizeDate {
	font-size:1 em;
	color:#666666;
	font-weight:bold;
}

/* Tableau classement des acheteurs*/
.tableEquipe {
	position:absolute;
	width:100%;
	z-index:2;
}

/*Tableau détaillé par équipe, ou blogal pour les achats*/
.table {
	position:absolute;
	margin-top:20%;
	width:100%;
	z-index:2;
}

.fondVert {
		background-color:#00ff00;
}

.fondBlanc {
		background-color:#ffffff;
}


/** Style page tableaux des 4 équipes SEDENTAIRE**/

/*Div contenant les 4 tableaux*/
#div_equipe {
	z-index:2;
	margin-top:15%;
} 

/*Style pour chaque tableau*/
.equipe{
	display:inline-block;
	float:left;
	width:49.6%;
	/*border:1px solid blue;*/
}

/*Libellé des tableaux*/
.libelle {
	text-align:center;
	font-size:1em;
	font-weight:bold;
	color:#666666;
	height:100px;
}
/***************************************/


/** Style page tableaux des équipes TERRAIN**/

/*Div contenant les tableaux*/
#div_equipe_ter{
	position:absolute;
	z-index:2;
	width:100%;
} 

/*Style pour chaque tableau*/
.equipe_ter{
	display:inline-block;
	float:left;
	width:49.6%;
	margin-top:4em;
	/*border:1px solid blue;*/
}

/*Libellé des tableaux*/
.libelle_ter {
	text-align:center;
	font-size:4em;
	font-weight:bold;
	color:#666666;
	height:100px;
}


/***************************************/

#div_rappel_chiffres {
	/*font-family : "stamp" !important;
	font-family : "linostamp" !important;*/
	border:5px solid red;
	background-color:white;
	width:26%;
	height:17%;
	position:absolute;
	top:35px;
	right:35px;
	font-size:2.3em;
	font-weight:bold;
	border-radius: 20px;
	padding-left:10px;
	transform: rotate(5deg);
}
p.rappel_realise{
	font-size:1.4em;
}
#div_rappel_chiffres table {
	margin:0 auto;
}

/*
@font-face {
  font-family: "linostamp";
  src:url('lino-stamp.ttf') format("truetype");
}

@font-face {
  font-family: "stamp";
  src:url('CFQuebecStamp-Regular.ttf') format("truetype");
}
*/




