{% extends 'AdminBundle:layout:base.html.twig' %}
{% block body %}
    {% if is_granted('ROLE_DMLI_ADMIN') %}
    <script src="{{ asset('DMLI/js/addKit.js') }}"></script>
    <section class="content-header">
        <h1>
            Ajouter Kit matériel
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <form action="{{ path('add_kit_valid') }}" method="post" class="form-horizontal" id="myform"  onsubmit="return doNotSubmit()">
                <div class="box box-info" id="listeMateriel" >
                    <div class="box-header with-border">
                        <h3 class="box-title">Kit Materiel
                        <a id="buttonChangeHardwareSelected"
                           onclick="return false"  data-toggle="modal"
                           data-target="#myModalHard"><i class="glyphicon glyphicon-plus"></i></a></h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                                        <div id="myModalHard" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <fieldset id="hardwareList">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Liste Materiel</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <p><label>Cochez/Décochez les éléments pour les ajouter/enlever, puis
                                                                    cliquez sur
                                                                    le bouton valider en bas de page.</label></p>


                                                            <div>

                                                                <button id="buttonUncheckAllHardwareList" class="btn btn-sm btn-default" type="button"
                                                                        onclick="uncheckCheckHardware(); saveListCheckHardware();">
                                                                    Tout désélectionner
                                                                </button>
                                                            </div>
                                                            <br/><br/>
                                                            <div class="bodycontainer scrollable">
                                                                <table id="divHardwareList"
                                                                       class="table table-hover table-striped table-condensed table-scrollable">


                                                                </table>
                                                            </div>
                                                            <br/>

                                                            <button id="buttonValidateHardwareList" class="btn btn-sm btn-default"
                                                                    data-dismiss="modal">Valider
                                                            </button>

                                                        </div>

                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>


                                            <div class="col-md-6">
                                                <strong>Libelle de Kit</strong>
                                            </div>
                                            <div class="col-md-6">
                                                <input id="libelleKit" name="libelleKit" class="form-control input-sm"/>
                                            </div>
                                             <br></br>
                                            <div class="col-md-12">
                                            <fieldset id="hardwareSelected">
                                                <table id="divHardwareSelected" class="table table-striped">
                                                </table>
                                            </fieldset>
                                            </div>


</div></div>
                    <div class="box-footer"><div class="row"> <div class="col-xs-10">   <a href="{{ path('index_kit') }}">{{ form_row(form.Annuler) }}</a></div>
                    <div class="col-xs-2">    {{ form_row(form.Valider) }}</div></div>

</div>

            </div>
        </form>
                      </div>  </div>
    </section>
    {% else %}
        <section class="content-header">
            <h1>
                Vous n'avez pas le droit pour modifier un Kit Matériel!
            </h1>
        </section>
    {% endif %}
{% endblock %}