{% extends 'AdminBundle:layout:base.html.twig' %}

{% block body %}
        {% if is_granted('ROLE_DMLI_ADMIN') %}

<script>
    $('#loading').show();

</script>
<section class="content-header">
    <h1>
        Liste Des Kits Matériel

    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-9">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><a href="{{ path('add_kit') }}" class="button" style="color:#00C0EF">Ajouter Des Kits Matériel:
                            <span class="glyphicon glyphicon-plus"></span>
                        </a></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="loading" style="margin-left: 420px;margin-top: 90px;margin-bottom: 90px;">
                        <img src="{{ asset('img/dmli-loader.gif') }}" alt="Wait"/>

                    </div>
            <div class="row" id="tabledmli" hidden>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9">
                        <table id="example"  class="table table-striped table-bordered table-hover table-responsive" style="padding-left: 2px; width: 100%">
                            <thead >
                            <tr style="background-color: #00C0EF">
                                <td style="color: #ffffee"><strong>Libelle de Kit</strong></td>

                                <td></td>
                            </tr>

                            <tr>
                                <th>Libelle de Kit</th>
                                <td style="display: none"></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in result %}
                                <tr>
                                    <td>{{ item.libelle }}</td>


                                    <td style="width: 8%">

                                        <a style="padding-left: 5px" href="{{ path('edit_kit', {'id': item.id})}}" title="Modifier un Kit matériel">
                                            <span class="glyphicon glyphicon-pencil" style="color: #00a65a"></span>
                                        </a>
                                        <a style="padding-left: 5px" href="{{ path('remove_kit', {'id': item.id})}}"  id="remove" onclick="return confirm('Vous voulez confirmer la suppression?')" title="Supprimer un Kit Matériel">
                                            <span class="glyphicon glyphicon-remove" style="color:#CC3300"></span>
                                        </a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
       </div>
</div>
</div>
        </div></div></div></section>
        {% else %}
            <section class="content-header">
                <h1>
                    Vous n'avez pas le droit pour visualiser la liste des kits matériel!
                </h1>
            </section>
        {% endif %}
    <script>
        $(document).ready(function () {

            $('#example thead th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Recherche ' + title + '" />');
            });
            // DataTable
              var table = $('#example').DataTable({
                "fnDrawCallback": function () {  $('#loading').hide(); $('#tabledmli').show();
                },
                "bProcessing": false,
                "bLengthChange": false,
                "info":false,
                "language": {
                    "zeroRecords": "Pas d'enregistrement",
                    "infoEmpty": "Pas d'enregistrement",
                },
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;
                $('input', this.header()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                                .search(this.value)
                                .draw();
                    }
                });
            });

        });
    </script>
{% endblock %}
