{% block body %}
    <div class="box-body">
        {# group is at most in one hierarchy you can change its name#}
        {%if groups|length <= 1 and group%}
            <div class="form-group">
                <label>Nouveau nom de groupe:</label>
                <input class="form-control required" name="newGrpName" id="newGrpName" type="text" data-url='{{path('groupe-modifier-nom')}}' value='{{group.grpLibelle}}'/>
            </div>
            <div class="text-right">
                <button class="btn btn-primary" id="grpChangeName">Changer le nom</button>
            </div>
        {%else%}
            <span class="alert-warning" id="grpSurHie">
                La modification n’est pas possible car ce groupe est  géré par plusieurs hiérarchies
            </span>
        {%endif%}
    </div>
{% endblock %}