
{% block suivietudes_body %}
  <table class="table table-hover">
    <thead>
        <th>#</th>
        <th>Titre</th>
    </thead>
    <tbody>
      {% for direction in listeDirections %}
      <tr>
        <td>{{ direction.dirId }}</td>
        <td>{{ direction.dirLibelle }}</td>
      <tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}