{% extends 'ChecklistBundle:template:base.html.twig' %}	
{% block title %}
    {{ title }}
{% endblock %}	


{% block body %}	



	{{ parent() }}	
	{{ include('ChecklistBundle:checklist:menu.html.twig') }}		
	{% for flashMessage in app.session.flashbag.get('checklistSuccess') %}
		<div role="alert" class="alert alert-success alert-dismissable disabled">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
			<p style="display:inline-block;">{{ flashMessage }}</p>
		</div>
	{% endfor %}	
	{#{% if message | length %}
		<div class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>{{ message }}</strong>
		</div>
	{% endif %}#}		
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}			
    {{ form_errors(form) }}
		<script>
			var url_get_duree = {{ JS_Parameters.url_get_duree|json_encode|raw }}
		</script>
     {% javascripts 
		'@ChecklistBundle/Resources/public/js/majDureeChecklist.js'
	    %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}   
    
    
    <div class="table-div-60">
		</br>		
		<table class="table table-striped table-hover ">
			<tr class="info">
				<td>
					{{ form_label(form.nom) }}	<span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>				
					{% if form_errors(form.nom) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.nom) }}</strong>
						</div>	
					{% endif %}
				</td>		
				<td>
					{{ form_widget(form.nom,{'attr':{'size':'80'}}) }}
				</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.pointsDeControle) }}
					{{ form_errors(form.pointsDeControle) }}
				</td>		
				<td>	
					{{ form_widget(form.pointsDeControle) }}
				</td>
			</tr>
			<tr class="info">
				<td>
					<label>Durée </label>
				</td>		
				<td>	
					<p id="duree">{{ estimee|date('H\\hi') }} + {{ parCaisse|date('H\\hi') }} par caisse</p>
				</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_widget(form.save) }}
				</td>		
				<td></td>
			</tr>
		</table>
	</div>
	{{ form_end(form) }}	
	{{ include('ChecklistBundle:checklist:menu.html.twig') }}	
{% endblock %}