{% block menu %}		
	<a href="{{ path('checklist_checklist_checklists') }}">
		<button type="button" class="btn btn-info" aria-label="Left Align">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Liste des checklists
		</button>
	</a>		
	<a href="{{ path('checklist_checklist_ajouter') }}">
		<button type="button" class="btn btn-info" aria-label="Left Align">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter une checklist
		</button>
	</a>	
{% endblock %}