{% extends 'AdminBundle:layout:base.html.twig' %}

    {% block body %}
{% if is_granted('ROLE_DMLI_ADMIN') %}
        <script>

            $(document).ready(function () {
                $('#myform').bootstrapValidator({
                    err: {
                        container: '#messages'
                    },
                    fields: {
                        "gestion_adminbundle_profil[posteHolder]": {
                            validators: {
                                notEmpty: {
                                    message: 'Ce champ est obligatoire!'
                                },

                            }
                        },
                    }
                });
            });

        </script>
        <section class="content-header">
            <h1>
                Modifier Groupe Outlook

            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Groupe Outlook</h3>
                        </div>
            <form action="{{ path('edit_mail_valid') }}" method="post" class="form-horizontal" id="myform">

                <div class="box-body">
                    <div class="row">
                                        <div class="col-md-6">
                                            <strong>  Direction :</strong>
                                        </div>
                                        <div class="col-md-6">
                                            {{ result.direction }}
                                        </div>
                                        <div class="col-md-6">
                                            <strong>  Groupe Outlook :</strong>
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.posteHolder, {'attr':{'placeholder':
                                                result.libelle }}) }}
                                        </div>
                        <input id="mal" name="mal" value="{{ result.id }}" type="hidden" />
                    </div>

                </div>
                <div class="box-footer"><div class="row"> <div class="col-xs-10">   <a href="{{ path('index_mail') }}">{{ form_row(form.Annuler) }}</a></div>
                        <div class="col-xs-2">    {{ form_row(form.Valider) }}</div></div>



                </div>
            </form>
                    </div>
                </div></div></section>
{% else %}
    <section class="content-header">
        <h1>
           Vous n'avez pas le droit pour modifier un groupe outlook!
        </h1>
    </section>
{% endif %}
    {% endblock %}