{% extends 'ChecklistBundle:template:base.html.twig' %}	
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}	
	{{ parent() }}	
	{% javascripts
		'@ChecklistBundle/Resources/public/js/formPointdeControle.js'
	    %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{{ include('ChecklistBundle:pointDeControle:menu.html.twig') }}		

	{% for flashMessage in app.session.flashbag.get('pointSuccess') %}
		<div role="alert" class="alert alert-success alert-dismissable disabled">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
			<p style="display:inline-block;">{{ flashMessage }}</p>
		</div>
	{% endfor %}	

	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}			
    {{ form_errors(form) }}
    <div class="table-div-60">
    	</br>
		<table class="table table-striped table-hover ">
			<tr class="info">
				<td>
					{{ form_label(form.nom) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					
					{% if form_errors(form.nom) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.nom) }}</strong>
						</div>	
					{% endif %}
				</td>					
				<td>{{ form_widget(form.nom,{'attr':{'size':'80'}}) }}</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.duree) }}
					
					{% if form_errors(form.duree) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.duree) }}</strong>
						</div>	
					{% endif %}	
				</td>		
				<td>{{ form_widget(form.duree) }}</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.caisses) }}
					{{ form_errors(form.caisses) }}
				</td>			
				<td>{{ form_widget(form.caisses) }}</td>
			</tr>
			<tr class="info ligneDureeParCaisse">
				<td>
					{{ form_label(form.dureeParCaisse) }}
					{{ form_errors(form.dureeParCaisse) }}
				</td>			
				<td>{{ form_widget(form.dureeParCaisse) }}</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.type) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					
					{% if form_errors(form.type) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.type) }}</strong>
						</div>	
					{% endif %}	
				</td>		
				<td>					
					{% for child in form.type %}
			 	     	<p> {{ form_widget(child) }} {{ form_label(child) }}</p>	      		
					{% endfor %}  
				</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.libelle) }}
					
					{% if form_errors(form.libelle) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.libelle) }}</strong>
						</div>	
					{% endif %}
				</td>		
				<td>{{ form_widget(form.libelle,{'attr':{'cols':'80', 'rows':3} }) }}</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.question) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					
					{% if form_errors(form.question) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.question) }}</strong>
						</div>	
					{% endif %}					
				</td>		
				<td>{{ form_widget(form.question,{'attr':{'size':'80'}}) }}</td>	
			</tr>			
			<tr class="info" {% if not action %} style="display:none;" {% endif %}>
				<td>
					{{ form_label(form.action) }}
					{{ form_errors(form.action) }}
				</td>		
				<td>{{ form_widget(form.action,{'attr':{'size':'80'}}) }}</td>
			</tr>	
			<tr class="info">
				<td>
					{{ form_label(form.fischeDeProcedure) }}
					{{ form_errors(form.fischeDeProcedure) }}
				</td>			
				<td>{{ form_widget(form.fischeDeProcedure) }}</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_widget(form.save) }}
				</td>			
				<td>
				</td>
			</tr>
		</table>
	</div>
	{{ form_end(form) }}
	{{ include('ChecklistBundle:pointDeControle:menu.html.twig') }}		
{% endblock %}