<tr>
	<td class={{ resultat.flagAccomplie ? '"info"':'"alert alert-danger alert-dismissable"' }} ><label>Accompli?</label></td>
	<td class={{ resultat.flagAccomplie ? '"info"':'"alert alert-danger alert-dismissable"' }}>
		{{ resultat.flagAccomplie ? 'FAIT.':'NON FAIT.' }}
	</td>
</tr>
<tr class="info">
	<td><label>{{ resultat.pointsDeControle.action}}</label></td>
	<td>{{ resultat.resultat}}</td>		
</tr>
<tr>
	<td  class={{ resultat.reponse ? '"info"':'"alert alert-danger alert-dismissable"' }} ><label>{{ resultat.pointsDeControle.question}}</label></td>		
	<td class={{ resultat.reponse ? '"info"':'"alert alert-danger alert-dismissable"' }} > {{ resultat.reponse ? 'OUI.':'NON.' }} </td>
</tr>

{% if resultat.fichierUn %}
<tr class="info">
	<td><label>Fichier</label></td>
	<td><a href="{{ asset('uploads/attachments/checklist/'~resultat.visites.id~'/'~resultat.pointsDeControle.id~'/'~resultat.fichierUn) }}">Télécharger le fichier</a></td>
</tr>
{% endif %}

<tr>
	<td class={{ resultat.email ? '"alert alert-danger alert-dismissable"':'"info"' }} ><label>Email Envoyé ?</label></td>		
	<td class={{ resultat.email ? '"alert alert-danger alert-dismissable"':'"info"' }} >
		{{ resultat.email ? 'OUI.':'NON.' }}
	</td>
</tr>