{% extends 'ChecklistBundle:template:base.html.twig' %}	
{% block title %}
    Points de contrôle
{% endblock %}
{% block body %}
	{{ parent() }}
	
	{% stylesheets 
		'@ChecklistBundle/Resources/public/css/tabMagasin.css'
		'@ChecklistBundle/Resources/public/css/tabsorter.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />    
	{% endstylesheets %}
	
	{{ include('ChecklistBundle:pointDeControle:menu.html.twig') }}
    <div>
    </br>
		{{ form_start(form) }}
			{{ form_label(form.afficheDesactive) }}
			{{ form_widget(form.afficheDesactive) }}
			{{ form_label(form.save) }}
			{{ form_widget(form.save) }}
		{{ form_end(form) }}
    </div>
    </br>
    <div class="table-div-80">
	<table id="listTableSorter" class="table tablesorter table-striped table-hover"  >
		<thead>
			<th class="filter-false"></th>
			<th>Nom</th>
			<th>Temps théorique</th>
			<th>Durée par caisse</th>
		</thead>
		{% for pointDeControle in pointsDeControle %}
			{% if pointDeControle.desactive %}
			<tr class="alert alert-danger alert-dismissable">
			{% else %}
			<tr class="info">
			{% endif %}	
				<td>
					<a href="{{ path('checklist_point_de_controle_resultats', {'id' : pointDeControle.id}) }}" title="afficher les résultats du point de contrôle" >
						<button type="button" class="btn btn-info" aria-label="Left Align">
							<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
						</button>
					</a>
					<a href="{{ path('checklist_point_de_controle_point_de_controle', {'id' : pointDeControle.id}) }}" title="afficher la fiche du point de contrôle" >
						<button type="button" class="btn btn-info" aria-label="Left Align">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</button>
					</a>
					<a href="{{ path('checklist_point_de_controle_editer', {'id' : pointDeControle.id}) }}" title="modifier le point de contrôle">
						<button type="button" class="btn btn-info" aria-label="Left Align">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
					</a>
					<a href="{{ path('checklist_point_de_controle_desactiver', {'id' : pointDeControle.id}) }}"
						title="{{ pointDeControle.desactive ? 'activer':'désactiver' }} le du point de contrôle"
					   onclick="return confirm('Attention! Le point de contrôle sera ' + 
								   '{{ pointDeControle.desactive ? 'activé':'désactivé' }}' + '!');">
						<button type="button" class="btn btn-info" aria-label="Left Align">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</a>
				</td>
				<td>{{ pointDeControle.nom }}</td>
				<td>{{ pointDeControle.duree|date('H\\hi') }}</td>
				<td>
				{% if pointDeControle.caisses %}
					{{ pointDeControle.dureeParCaisse|date('H\\hi') }}
				{% else %}
					N A
				{% endif %}				
				</td>
			</tr>
		{% endfor %}
	</table>
    </div>
	{{ include('ChecklistBundle:pointDeControle:menu.html.twig') }}
{% endblock %}