<!DOCTYPE html>
<html lang="en">
{% if page_title is not defined %}
		{% set page_title= 'DMLI' %}
	{% endif %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<meta http-equiv="X-UA-Compatible" content="IE=11">
        <title>{% block title %}{% if page_title is defined %} {{ page_title }}{% endif %}{% endblock %}</title>
        {%  include('dmliBundle:layout:header.html.twig') %}
    </head>
	
	{% set path_homepage= path('dmli_page1')  %}
	{% set titre= 'DMLI' %}
    <body class="skin-blue">
        <div id="loader" class="container">
		
			    <img src="{{ asset('img/loader.gif') }}" alt="Wait"/>
	
        </div>
        <div class="wrapper">
                 <header class="main-header">
                     <!-- Logo -->
                     <a href="{{ path_homepage }}" class="logo">
                         <b>{{titre}}</b>
                     </a>
                     <!-- Header Navbar: style can be found in header.less -->
                     <nav class="navbar navbar-static-top" role="navigation">
                         <!-- Sidebar toggle button-->
                         <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                             <span class="sr-only">Toggle navigation</span>
                         </a>
                         {% if app.user %}
                             <div class="navbar-custom-menu">
                                 <ul class="nav navbar-nav">
                                     <!-- User Account: style can be found in dropdown.less -->
                                     <li class="dropdown user user-menu">
                                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                             <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="user-image" alt="User Image"/>
                                             <span class="hidden-xs">{{ app.user.displayname }}</span>
                                         </a>
                                         <ul class="dropdown-menu">
                                             <!-- User image -->
                                             <li class="user-header">
                                                 <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="img-circle" alt="User Image" />
                                                 {% if app.user %}
                                                     <p>
                                                         {{ app.user.displayname }} -
                                                         Connecté(e) en tant que :
                                                         {% if is_granted('ROLE_SUPER_ADMIN')%}
                                                             SUPER ADMIN
                                                         {% elseif is_granted('ROLE_MANAGER_TECH')%}
                                                             MANAGER TECHNIQUE
                                                         {% elseif is_granted('ROLE_RESP_TECH')%}
                                                             RESPONSABLE TECHNIQUE
                                                         {% elseif is_granted('ROLE_TECH')%}
                                                             TECHNICIEN
                                                         {% elseif is_granted('ROLE_COPIL')%}
                                                             MEMBRE COPIL
                                                         {% elseif is_granted('ROLE_VALIDEUR')%}
                                                             VALIDEUR
                                                         {% elseif is_granted('ROLE_DEMANDEUR')%}
                                                             DEMANDEUR
                                                         {% else %}
                                                             COLLABORATEUR
                                                         {% endif %}
                                                     </p>
                                                 {% endif %}
                                             </li>
                                             <!-- Menu Footer-->
                                             <li class="user-footer">
                                                 <div class="pull-right">
                                                     <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Se déconnecter</a>
                                                 </div>
                                             </li>
                                         </ul>
                                     </li>
                                     {% if app.request.attributes.get('_route') == 'suivi_etudes_liste' %}
                                         <li>
                                             <a data-toggle="control-sidebar" href="#"><i class="fa fa-gears"></i></a>
                                         </li>
                                     {% endif %}
                                     <li><a id="buttonHelp" class="buttonDeleteListMail"  ><i style="cursor: pointer;" class="fa fa-question"></i></a></li>
                                     <li><a id="buttonCloseHelp" class="buttonDeleteListMail"  ><i style="cursor: pointer;" class="glyphicon glyphicon-remove"></i></a></li>
                                 </ul>
                             </div>
                         {% endif %}
                     </nav>
                 </header>
                     <!-- sidebar: style can be found in sidebar.less -->
                     {% include "dmliBundle:layout:menu.html.twig" %}
                     <!-- /.sidebar -->

            <div class="content-wrapper">

            	<section class="content">

               		{#MESSAGES#}
                	{% include "::messages.html.twig" %}
                	{% block body %}{% endblock %}
                </section>
	        </div>
        {#FOOTER#}
        {% include "dmliBundle:layout:footer.html.twig" %}
            </div>
     </body>
</html>