{% extends 'AdminBundle:layout:base.html.twig' %}

    {% block body %}
        <script>

            $(document).ready(function () {
                $('#myform').bootstrapValidator({
                    err: {
                        container: '#messages'
                    },
                    fields: {
                        "gestion_adminbundle_profil[crmHolder]": {
                            validators: {
                                notEmpty: {
                                    message: 'Ce champ est obligatoire!'
                                },
                            }
                        },
                    }
                });
            });

        </script>

        <section class="content-header">
            <h1>
                Modifier Equipe CRM

            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Equipe CRM</h3>
                        </div>
                        <form action="{{ path('edit_crm_valid') }}" method="post" class="form-horizontal" id="myform">

                            <div class="box-body">
                                <div class="row">
                                        <div class="col-md-6">
                                            <strong>  Service:</strong>
                                        </div>

                                        <div class="col-md-6">
                                            {{ result.service }}
                                        </div>


                                        <div id="divCrm">
                                            <div  class="col-md-6">
                                                <strong>  Nom de l'equipe :</strong>
                                            </div>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.crmHolder, {'attr':{'placeholder': result.libelle, 'class':'studentid'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                <input id="srvId" name="srvId" value="{{ result.id }}" type="hidden" />
                            </div>
                            <div class="box-footer"><div class="row"> <div class="col-xs-10">   <a href="{{ path('index_crm') }}">{{ form_row(form.Annuler) }}</a></div>
                                    <div class="col-xs-2">    {{ form_row(form.Valider) }}</div></div>



                            </div>
                        </form>
                    </div>
                </div></div></section>
    {% endblock %}