{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            La demande n°{{demande.id}} a été annulée, elle n'est plus modifiable mais peut être vue par le biais de ce <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}"> lien</a>.
            <br/>
            <br/>
            Raisons invoquées justifiant l'annulation : <b>{{descAnnulation}}</b>

        </p>
    </div>

{% endblock %}