{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            Votre demande n°{{demande.id}} est terminée, elle est désormais close et ne peut plus être modifiée.</br></br>

            Vous pouvez à tout moment consulter la demande par le biais de ce <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">lien</a>.
        </p>
    </div>

{% endblock %}