{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            La mise en production pour votre demande n°{{demande.id}} a été effectuée.
            Si vous jugez que notre solution répond à votre besoin, vous pouvez clore votre demande, dans sa <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">fiche récapitulative</a>.</br></br>
.
        </p>
    </div>

{% endblock %}