{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            <!-- PENSER A LA PIECE JOINTE DU DEVIS !!!!!! -->
            Le demandeur <b>{{ userDmd }}</b> a refusé la validation du devis, veuillez le contacter afin d'estimer à nouveau les charges ou de re-spécifier le besoin.</br></br>

        	Motif du refus : <b>{{ motifRefus }}</b></br>
        	Description du refus : <b>{{ descriptionRefus }}</b></br></br>

            E-mail du demandeur : {{ emailDmd }}
        </p>
    </div>

{% endblock %}