{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            Le demandeur <b>{{ userDmd }}</b> n'a pas validé les tests pour la demande n°{{demande.id}}, merci d'effectuer les modifications nécéssaires.</br></br>

            Raisons invoquées : <b>{{ description }}</b></br></br>

            Vous pouvez à tout moment consulter la demande par le biais de ce <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">lien</a>.
        </p>
    </div>

{% endblock %}