{% extends 'dmliBundle:layout:base.html.twig' %}

{% block body %}
    <div class="row">

        <form action="{{ path('dmli_success') }}" method="post" class="form-horizontal" id="myform" onsubmit="return doNotSubmit(this)">
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="row">
                        <h3 class="text-center">Demande de Matériel et de Logiciel (<span id="categorie"></span>)<a
                                    id="buttonChangeCategorie" hidden
                                    onclick="return false" style="padding-left: 50px" data-toggle="modal"
                                    data-target="#myModalCat"><i style="cursor: pointer;" class="fa fa-pencil"></i></a></h3>

                        <div id="myModalCat" class="modal fade in" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Categorie</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>
                                                    <input type="radio" id="nouvel" name="nouvel"> Nouvel Arrivant
                                                </label>
                                            </div>
                                            <div class="col-sm-12">
                                                <label>
                                                    <input type="radio" id="mercato" name="mercato"> Mercato
                                                </label></div>
                                            <div class="col-sm-12">
                                                <label>
                                                    <input type="radio" id="userGen" name="userGen"> Utilisateur
                                                    Générique
                                                </label></div>
                                            <div class="col-sm-12">
                                                <label>
                                                    <input type="radio" id="renouvellement" name="renouvellement">Renouvellement
                                                    de Matériel
                                                </label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- livraison-->
                        <div class="panel panel-info"
                             style="margin-right: 20px;margin-left: 20px; margin-top: 0px; margin-bottom:5px">
                            <div class="panel-heading" style="padding: 4px 25px;">Livraison</div>
                            <div class="panel-body">
                                <label class="col-sm-3 control-label">Date de livraison souhaitée</label>
                                <div class="col-sm-3">
                                    <input name="deliveryDate" class="form-control input-sm" id="inputDate" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- utilisateur-->
                        <div class="panel panel-info"
                             style="margin-right: 20px;margin-left: 20px; margin-top: 0px; margin-bottom:5px">
                            <div class="panel-heading" style="padding: 4px 25px;">Utilisateur</div>
                            <div class="panel-body">
                                <div class="col-md-6">

                                    <div id="mat">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> {{ form_label(form.matricule) }}</label>
                                        <div class="col-sm-7">
                                            {{ form_widget(form.matricule) }}
                                        </div>

                                    </div>
                                        </div>
                                    <div id="divUserGen">
                                        <div class="form-group form-group-sm" style="margin-bottom:0px">
                                            <label class="col-sm-3 control-label"> {{ form_label(form.nom) }}</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(form.nom) }}
                                            </div>


                                        </div>
                                        <div class="form-group form-group-sm" style="margin-bottom:0px">
                                            <label class="col-sm-3 control-label"> {{ form_label(form.prenom) }}</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(form.prenom) }}
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> {{ form_label(form.societe) }}</label>
                                        <div class="col-sm-7">
                                            {{ form_widget(form.societe) }}
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm" style="margin-bottom:0px" id="divNewCompany">
                                        <label class="col-sm-3 control-label">Précisez</label>
                                        <div class="col-sm-7">
                                            <input class="form-control input-sm" name="userNewCompany"
                                                   id="inputNewCompany" required="required"
                                                   type="text"/>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div id="divUserHierarchy">
                                        <div id="divDirection">
                                            <div class="form-group form-group-sm" style="margin-bottom:0px">
                                                <label class="col-sm-3 control-label"> {{ form_label(form.direction) }}</label>
                                                <div class="col-sm-7">
                                                    {{ form_widget(form.direction) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divDepartment">
                                            <div class="form-group form-group-sm" style="margin-bottom:0px">
                                                <label class="col-sm-3 control-label"> {{ form_label(form.service) }}</label>
                                                <div class="col-sm-7">
                                                    {{ form_widget(form.service) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divDivision">
                                            <div class="form-group form-group-sm" style="margin-bottom:0px">
                                                <label class="col-sm-3 control-label"> {{ form_label(form.pole) }}</label>
                                                <div class="col-sm-6">
                                                    {{ form_widget(form.pole) }}
                                                </div>
                                                <div class="col-sm-3">
                                                    <sapn id="spanPosteNonAffect">
                                                        <label class="col-sm-1 control-label"> {{ form_label(form.posteNonAffect) }}</label>
                                                        <div class="col-sm-1" class="checkbox">
                                                            {{ form_widget(form.posteNonAffect) }}
                                                        </div>
                                                    </sapn>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm" style="margin-bottom:0px">
                                                <label id="newDivision" class="col-sm-3 control-label">Précisez</label>
                                                <div class="col-sm-7">
                                                    <input class="form-control input-sm" name="inputNewDivision"
                                                           id="inputNewDivision" required="required"
                                                           type="text"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divPost">
                                            <div class="form-group form-group-sm" style="margin-bottom:0px">
                                                <label class="col-sm-3 control-label"> {{ form_label(form.poste) }}</label>
                                                <div class="col-sm-7">
                                                    {{ form_widget(form.poste) }}
                                                </div>
                                            </div>
                                            <div id="divNewPost" class="form-group form-group-sm"
                                                 style="margin-bottom:0px">
                                                <label class="col-sm-3 control-label">Précisez</label>
                                                <div class="col-sm-7">
                                                    <input class="form-control input-sm" name="userNewPost"
                                                           id="inputNewPost" required="required"
                                                           type="text"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- code utilisateur-->
                        <div class="panel panel-info"
                             style="margin-right: 20px;margin-left: 20px; margin-top: 0px; margin-bottom:5px"
                             id="fieldsetCodeUser">
                            <div class="panel-heading" style="padding: 4px 25px;">Code Utilisateur</div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <div id="divCodeUserKeyPerso">
                                        <div class="form-group form-group-sm" style="margin-bottom:0px">
                                            <label class="col-sm-3 control-label"> {{ form_label(form.inputCodeUserKeyPerso) }}</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(form.inputCodeUserKeyPerso) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div id="divCodeUserKeyPays">
                                        <div class="form-group form-group-sm" style="margin-bottom:0px">
                                            <label class="col-sm-3 control-label"> {{ form_label(form.selectCodeUserKeyPays) }}</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(form.selectCodeUserKeyPays) }}
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div id="divCodeUserComment">
                                        <div class="form-group form-group-sm" style="margin-bottom:0px">
                                            <label class="col-sm-3 control-label"> {{ form_label(form.selectCodeUserComment) }}</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(form.selectCodeUserComment) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divCodeUserSSPole">
                                        <div class="form-group form-group-sm" style="margin-bottom:0px">
                                            <label class="col-sm-3 control-label"> {{ form_label(form.selectCodeUserSSPole) }}</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(form.selectCodeUserSSPole) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Demande-->
                        <div class="panel panel-info"
                             style="margin-right: 20px;margin-left: 20px; margin-top: 0px; margin-bottom:5px">
                            <div class="panel-heading" style="padding: 4px 25px;">Demande</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset style="margin: 5px" class="fsStyle">
                                            <legend class="legendStyle">Options</legend>
                                            <div>

                                                <div class="form-group form-group-sm" style="margin-bottom:0px">
                                                    <div class="col-sm-5">

                                                        <button id="buttonChangeMailingSelected" type="button"
                                                        <button id="buttonChangeMailingSelected" type="button"
                                                                class="btn btn-sm btn-default" style="margin-left:20px"
                                                                onclick="return false" data-toggle="modal"
                                                                data-target="#myModalMail">Groupe Outlook<i
                                                                    style="padding-left: 124px"
                                                                    class="fa fa-envelope-o"></i>
                                                        </button>

                                                        <div id="myModalMail" class="modal fade" role="dialog">
                                                            <div class="modal-dialog">

                                                                <!-- Modal content-->

                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">Groupe Outlouk</h4>
                                                                    </div>
                                                                    <div class="modal-body">

                                                                        <p><label>Cochez/Décochez les éléments pour les
                                                                                ajouter/enlever, puis
                                                                                cliquez sur le bouton valider en bas de
                                                                                page.</label></p>
                                                                        <div class="row">
                                                                            <div class="col-sm-4"></div>
                                                                            <div class="col-sm-3" >
                                                                                <button id="buttonUncheckAllMailingList" style="margin-bottom: 5px"
                                                                                        class="btn btn-sm btn-default" type="button"
                                                                                        onclick="uncheckCheckMailing(); saveListCheckMailing();">
                                                                                    Tout d&eacute;s&eacute;lectionner
                                                                                </button>
                                                                            </div></div>
                                                                        <div class="row">
                                                                        <div class="form-group form-group-sm"
                                                                             style="margin-bottom:0px">
                                                                            <label class="col-sm-5 control-label">Ajouter un groupe outlook</label>
                                                                            <div class="col-sm-3">
                                                                                <input name="NewList" id="inputNewlist"
                                                                                       class="form-control input-sm"
                                                                                       type="text"/>
                                                                            </div>
                                                                            <div class="col-sm-2">
                                                                                <input id="buttonAddNewListMail"
                                                                                       type="button"
                                                                                       name="buttonAddNewListMail"
                                                                                       class="btn btn-sm btn-default"
                                                                                       value="Ajouter"/>
                                                                            </div>
                                                                        </div></div>
                                                                        <br>
                                                                        <table id="MailNew"
                                                                               class="table table-hover table-striped table-condensed table-scrollable">
                                                                        </table>
                                                                        <br/>
                                                                        <div class="bodycontainer scrollable">
                                                                            <table id="divMailingList"
                                                                                   class="table table-hover table-striped table-condensed table-scrollable">
                                                                            </table>
                                                                        </div>
                                                                        <br/>

                                                                        <button id="buttonValidateMailingList"
                                                                                class="btn btn-sm btn-default"
                                                                                name="buttonValidateMailingList"
                                                                                data-dismiss="modal">Valider
                                                                        </button>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="control-label">Plage horaires:</label>
                                                    </div>
                                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                                        <label class="col-sm-1 control-label"> Debut</label>
                                                        <div class="col-sm-1">
                                                            <input id='timepicker' class="input-small" type='text'
                                                                   name="debut" value="07 : 00"/>
                                                        </div>
                                                        <label class="col-sm-1 control-label"> Fin</label>
                                                        <div class="col-sm-1">
                                                            <input id='timepicker1' class="input-small" type='text'
                                                                   name="fin" value="20 : 30"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <fieldset
                                                            style="width:730px;height: auto; margin-left:35px; margin-top:10px; padding: 5px;">
                                                        <table id="divMailingSelected" class="table table-striped">

                                                        </table>
                                                    </fieldset>
                                                </div>


                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm"
                                                     style="margin-bottom:0px; margin: 5px">
                                                    <label class="control-label"> {{ form_label(form.sapProf) }}</label>

                                                    {{ form_widget(form.sapProf) }}

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm"
                                                     style="margin-bottom:0px; margin: 5px">
                                                    <label class="control-label"> {{ form_label(form.crmProf) }}</label>

                                                    {{ form_widget(form.crmProf) }}

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm"
                                                     style="margin-bottom:0px; margin: 5px">
                                                    <label class="control-label"> {{ form_label(form.cognosProf) }}</label>

                                                    {{ form_widget(form.cognosProf) }}

                                                </div>
                                            </div>
                                          <div class="col-md-4">
                                                <fieldset id="sap"
                                                          style="height: 210px;
    width: auto;
    padding: 5px; border:1px solid #BCE8F1 ">
                                                    <div class="form-group form-group-sm"
                                                         style="margin:0px;">
                                                        <label class="col-md-10 control-label"> {{ form_label(form.sapUserGen) }}</label>
                                                        <div class="col-sm-1">
                                                            {{ form_widget(form.sapUserGen) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-group-sm"
                                                         style="margin:0px;">
                                                        <label class="control-label"> {{ form_label(form.inputProfilSap) }}</label>
                                                        <div>
                                                            {{ form_widget(form.inputProfilSap) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-group-sm"
                                                         style="margin:0px;">
                                                        <label class="control-label"> {{ form_label(form.textareaComment) }}</label>
                                                        <div>
                                                            {{ form_widget(form.textareaComment) }}
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>

                                            <div class="col-md-4">
                                                <fieldset id="crm"
                                                          style="height: 210px;
    width: auto;
    padding: 5px; border:1px solid #BCE8F1 ">
                                                    <div class="form-group form-group-sm"
                                                         style="margin: 0px">
                                                        <label class="col-sm-10 control-label"> {{ form_label(form.crmUserGen) }}</label>
                                                        <div class="col-sm-1">
                                                            {{ form_widget(form.crmUserGen) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-group-sm"
                                                         style="margin: 0px">
                                                        <label class="control-label"> {{ form_label(form.selectCrmProfil) }}</label>
                                                        <div>
                                                            {{ form_widget(form.selectCrmProfil) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-group-sm"
                                                         style="margin: 0px" id="crmFunction">
                                                        <label class="control-label">Fonction CRM : </label>
                                                        <span id="spanCrmFunction"></span>
                                                    </div>
                                                    <div class="form-group form-group-sm"
                                                         style="margin: 0px" id="crmCategory">
                                                        <label class="control-label">Cat&eacute;gorie
                                                            : </label>
                                                        <span id="spanCrmCategory"></span>
                                                    </div>

                                                    <div id="crmTeam" class="form-group form-group-sm"
                                                         style="margin: 0px">
                                                        <label class="control-label"> {{ form_label(form.selectCrmTeam) }}</label>
                                                        <div>
                                                            {{ form_widget(form.selectCrmTeam) }}
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>


                                            <div class="col-md-4">
                                                <fieldset id="cognos"
                                                          style="height: 210px;
    width: auto;
    padding: 5px;border:1px solid #BCE8F1 ">
                                                    <div id="crmTeam" class="form-group form-group-sm"
                                                         style="margin:0px;">
                                                        <label class="control-label"> {{ form_label(form.cognosProfil) }}</label>
                                                        <div>
                                                            {{ form_widget(form.cognosProfil) }}
                                                        </div>
                                                    </div>
                                                    <div id="crmTeam" class="form-group form-group-sm"
                                                         style="margin:0px;">
                                                        <label class="control-label"> {{ form_label(form.cognosComment) }}</label>
                                                        <div>
                                                            {{ form_widget(form.cognosComment) }}
                                                        </div>
                                                    </div>
                                                </fieldset>


                                            </div>
											
											                                            <div class="col-md-6" id="listeMateriel" style="margin-top: 5px">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading" style="padding: 4px 25px;">Liste Materiel
                                                        <a id="buttonChangeHardwareSelected"
                                                           onclick="return false" style="cursor: pointer; padding-left: 191px" data-toggle="modal"
                                                           data-target="#myModalHard" ><i class="glyphicon glyphicon-plus"></i></a>
                                                    </div>
                                                    <div id="myModalHard" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">

                                                            <!-- Modal content-->
                                                            <fieldset id="hardwareList">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">Liste Materiel</h4>
                                                                    </div>
                                                                    <div class="modal-body">

                                                                        <p><label>Cochez/Décochez les éléments pour les ajouter/enlever, puis
                                                                                cliquez sur
                                                                                le bouton valider en bas de page.</label></p>
                                                                        <div id="hardwarePack">
                                                                            <label class="col-sm-3 control-label">Choisiez un pack : </label>
                                                                            <div class="col-sm-5"><select name="selectHardwarePack"
                                                                                                          id="selectHardwarePack"
                                                                                                          class="form-control input-sm"></select>
                                                                            </div>
                                                                        </div>

                                                                        <div>

                                                                            <button id="buttonUncheckAllHardwareList" class="btn btn-sm btn-default" type="button"
                                                                                    onclick="uncheckCheckHardware(); saveListCheckHardware();">
                                                                                Tout désélectionner
                                                                            </button>
                                                                        </div>
                                                                        <br/><br/>
                                                                        <div class="bodycontainer scrollable">
                                                                            <table id="divHardwareList"
                                                                                   class="table table-hover table-striped table-condensed table-scrollable">


                                                                            </table>
                                                                        </div>
                                                                        <br/>

                                                                        <button id="buttonValidateHardwareList" class="btn btn-sm btn-default"
                                                                                data-dismiss="modal">Valider
                                                                        </button>

                                                                    </div>

                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <fieldset id="hardwareSelected">
                                                            <table id="divHardwareSelected" class="table table-striped">
                                                            </table>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" id="listeLogiciel"  style="margin-top: 5px">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading" style="padding: 4px 25px;">Liste de Logiciel
                                                        <a id="buttonChangeSoftwareSelected"
                                                           onclick="return false" style="cursor: pointer; padding-left: 174px" data-toggle="modal"
                                                           data-target="#myModalSoft"><i class="glyphicon glyphicon-plus"></i></a>
                                                    </div>
                                                    <div id="myModalSoft" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">

                                                            <!-- Modal content-->
                                                            <fieldset id="softwareList">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">Liste de logiciel</h4>
                                                                    </div>
                                                                    <div class="modal-body">

                                                                        <p><label>Cochez/Décochez les éléments pour les ajouter/enlever, puis
                                                                                cliquez sur le bouton valider en bas de page.</label></p>

                                                                        <button id="buttonUncheckAllSoftwareList" class="btn btn-sm btn-default" type="button"
                                                                                onclick="uncheckCheckSoftware(); saveListCheckSoftware();">Tout
                                                                            désélectionner
                                                                        </button>
                                                                        <br/><br/>
                                                                        <div class="bodycontainer scrollable">
                                                                            <table id="divSoftwareList"
                                                                                   class="table table-hover table-striped table-condensed table-scrollable">
                                                                            </table>
                                                                        </div>
                                                                        <br/>

                                                                        <button id="buttonValidateSoftwareList" class="btn btn-sm btn-default"
                                                                                data-dismiss="modal">Valider
                                                                        </button>
                                                                    </div>

                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <fieldset id="softwareSelected">
                                                            <table id="divSoftwareSelected" class="table table-striped">
                                                            </table>
                                                        </fieldset>

                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset style="margin: 5px" class="fsStyle">
                                            <legend class="legendStyle">Remarques ou demandes particuliéres</legend>
                                            {{ form_row(form.remarque) }}
                                        </fieldset>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div style="margin: 20px">
                            {{ form_row(form.Valider) }}

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                {% include "dmliBundle:layout:guide.html.twig" %}
            </div>
        </form>
    </div>

{% endblock %}