<!DOCTYPE html>
<html style="overflow:hidden">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<meta http-equiv="X-UA-Compatible" content="IE=9">
		<meta http-equiv="Refresh" content="15;url={% block nextpage %}{% endblock %}">
        <title>Indicateurs DAM</title>
        {{ include('IndicateursDAMBundle:layout:header.html.twig') }}
        <link rel="shortcut icon" href="" />
                {% block javascripts %}
            {% javascripts 
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}  
            <script type="text/javascript" src="{{ asset('all/jquery-ui-1.11.1/external/jquery/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('all/jquery-ui-1.11.1/jquery-ui.js') }}"></script>
        {% endblock %}
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache" content="no store" />
		<meta http-equiv="Expires" content="-1" />
    </head>
    <body class="skin-purple  sidebar-collapse" >
        <div>
            <div class="content-wrapper">
            	{% stylesheets '@IndicateursDAMBundle/Resources/public/css/styleTV.css' %}
					<link rel="stylesheet" href="{{ asset_url }}" />
				{% endstylesheets %}
            	{% block content %}
            	{% endblock %}
			</div>
        </div>
        {#SCRIPTS#}
        {{ include('IndicateursDAMBundle:layout:scripts.html.twig') }}
	</body>
</html>