{% extends 'IndicateursDAMBundle:TvDam:layout.html.twig' %}

{% block nextpage %}
	{{ path('affichage_tv_diapo_histogramme') }}
{% endblock %}

{% block content %}
<div class="col-md-2">
   	<img src="{{ asset('bundles/indicateursdam/logo/LOGO_NOZ_INFOS_SEUL_v2.png')}}" class="img-responsive"/>
</div>
<div class="col-md-8">
   	<img src="{{ asset('bundles/indicateursdam/logo/TITRE_CHIFFRES_SEUL_v2.png')}}" class="img-responsive"/>
</div>
{{ include ("IndicateursDAMBundle:TvDam:vignette.html.twig") }}

<div class="col-md-1"></div>
<div class="col-md-10">
	<table class="table"><tr>
		<td class="sizeDate">Semaine n°{{ "now"|date("W") }}</td>
		<td class="sizeDate" align="right">{{ "now"|date("d/m/Y H:i", 'Europe/Paris') }}</td>
	</tr></table>
</div>
<div class="col-md-1"></div>
<div class="col-md-1"></div>
<!--CHIFFRES DAM -->
<div  id="containerPieHight" class="col-md-12">

 <script type="text/javascript">

$(function () {

        // Build the chart
        var chart = new Highcharts.Chart({
            chart: {
                plotShadow: false,
                type: 'pie',
                renderTo: 'containerPieHight',
                height:440,
        		marginTop: 10,
        		backgroundColor: '#ecf0f5'
            },
            credits: {
            	enabled: false
        	},
            title: {
                text: ''
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -30,
                        connectorWidth: 3,
                        format: '<b>{point.name}: {point.y} k€</b>',
                        style: {
                        	fontSize: '30px',
                        	color:'black',
                    	}
                    },
                    showInLegend: false
                }
            },
	        series: [{
	            name: 'Brands',
	            colorByPoint: true,
	            data: [{
	                name: 'Réalisé',
	                color: '#26861B',
	                y: {{data.realisation_DAM}}
	            }, {
	                name: 'Reste à faire',
	                color: '#D3201D',
	                y: {{data.objectif_dam}}
	            }]
	        }]
        });
});
</script>
            
<div class="col-md-1"></div>
{% endblock %}

            