Bonjour {{ nom }},

Le statut de l'annonce - n°{{ identifiant }} vient d'être modifier à {{ nouveaustatut }}.

Vous pouvez consulter cette demande à tout moment à cette adresse : {{ url }} .


Cordialement,

Le Service Informatique