{{ form_start(formEtudes, {'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(formEtudes) }}

<div class="form-group row">
    <i>{{ form_label(formEtudes.chargesCP, "Charges Chef de projet", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}</i>
    {{ form_errors(formEtudes.chargesCP) }}
    <div class="col-sm-1">
        {{ form_widget(formEtudes.chargesCP, {'attr': {'class': 'form-control input-sm'}}) }}
    </div>heure(s)
</div>
<div class="form-group row">
    <i>{{ form_label(formEtudes.chargesDev, "Charges Développeur", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}</i>
    {{ form_errors(formEtudes.chargesDev) }}
    <div class="col-sm-1">
        {{ form_widget(formEtudes.chargesDev, {'attr': {'class': 'form-control  input-sm'}}) }}
    </div>heure(s)
</div>

{{ form_rest(formEtudes) }}
    
 <div class="form-group row">
    <label for="ajouter" id="label_ajotuer" class="col-sm-4 control-label"></label>
    <div class="col-sm- col-md-offset-4">
        <!--<i class="glyphicon glyphicon-edit"></i>-->
        <input type="submit" name="ajouter" id="ajouter" value="Ajouter les estimations" class="btn btn-primary"/>
    </div>
</div>

{{ form_end(formEtudes) }}
