
{{ form_start(formAvancement, {'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(formAvancement) }}

<div class="form-group row">
    <div class="col-sm-12">
   {# <span>Phase d'Etudes estimée  : {{demande.chargesEtudes}} heure(s)</span><br/>
    <span>Phase d'Etudes réalisée : {{demande.chargesEtudesRealise}} heure(s)</span>#}
    </div>
</div>
<div>
    <span class="spanAvancement"><b>CHARGE INITIALE ESTIMEE : {{demande.chargesCP + demande.chargesDev}} heures {% if (demande.chargesCP + demande.chargesDev) > 40 %}({{ ((demande.chargesCP + demande.chargesDev) / 8)|round(1, 'floor')}} jours){% endif %}</b>.</span>
    <span class="spanAvancement">Charge Chef de projet initialement estimée : <b>{{demande.chargesCP}} heures {% if demande.chargesCP > 40 %}({{ (demande.chargesCP / 8)|round(1, 'floor')}} jours){% endif %}</b>.</span>
    <span class="spanAvancement">Charge Développeur initialement estimée : <b>{{demande.chargesDev}} heures {% if demande.chargesDev > 40 %}({{ (demande.chargesDev / 8)|round(1, 'floor')}} jours){% endif %}</b>.</span>
</div>
<hr>
    
<div class="form-group row">
    <i>{{ form_label(formAvancement.chargesCPRestante, "Charge Chef de projet restante :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}</i>
    {{ form_errors(formAvancement.chargesCPRestante) }}
    <div class="col-sm-1">
        {% if demande.statut.id <= constant('EN_COURS_CP', demande.statut) %}
            {{ form_widget(formAvancement.chargesCPRestante, {'attr': {'class': 'form-control input-sm'}}) }}
        {% else%}
            {{ form_widget(formAvancement.chargesCPRestante, {'attr': {'class': 'form-control input-sm disabled'}}) }}
        {% endif%}
    </div><small> heures</small>
</div>
<div class="form-group row">
    <i>{{ form_label(formAvancement.chargesDevRestante, "Charge Développeur restante :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}</i>
    {{ form_errors(formAvancement.chargesDevRestante) }}
    <div class="col-sm-1">
        {% if demande.statut.id <= constant('EN_COURS_DEV', demande.statut) %}
            {{ form_widget(formAvancement.chargesDevRestante, {'attr': {'class': 'form-control  input-sm'}}) }}
        {% else%}
            {{ form_widget(formAvancement.chargesDevRestante, {'attr': {'class': 'form-control input-sm disabled'}}) }}
        {% endif%}
    </div><small> heures</small>
</div>
{{ form_rest(formAvancement) }}
    
 <div class="form-group row">
    <label for="ajouter" id="label_ajotuer" class="col-sm-4 control-label"></label>
    <div class="col-sm- col-md-offset-4">
        <!--<i class="glyphicon glyphicon-edit"></i>-->
        <input type="submit" name="ajouter" id="ajouter" value="Enregistrer l'avancement" class="btn btn-primary"/>
    </div>
</div>

{{ form_end(formAvancement) }}
