{{ form_start(formRecetteUserOk, {'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(formRecetteUserOk) }}

<div class="form-group row">
    {{ form_label(formRecetteUserOk.date_production, "Date de mise en production souhaitée : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formRecetteUserOk.date_production) }}
    <div class="col-sm-4">
        {{ form_widget(formRecetteUserOk.date_production, {'attr': {'class': 'form-control date'}}) }}
    </div>
</div>


<div class="form-group row">
    {{ form_label(formRecetteUserOk.commentaire, "Commentaire sur la recette : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formRecetteUserOk.commentaire) }}
    <div class="col-sm-4">
        {{ form_widget(formRecetteUserOk.commentaire, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(formRecetteUserOk.cahier, "Cahier de recette (facultatif) :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formRecetteUserOk.cahier) }}
    <div class="col-sm-4">
        {{ form_widget(formRecetteUserOk.cahier) }}
    </div>
</div>

{{ form_rest(formRecetteUserOk) }}

<div class="form-group row">
    <label for="ok" id="recette_ok" class="col-sm-4 control-label"></label>
    <div class="col-sm- col-md-offset-4">
        <!--<i class="glyphicon glyphicon-edit"></i>-->
        <input type="submit" name="ok" id="ok" value="La recette me convient" class="btn btn-success" data-toggle="tooltip" data-placement="right"/>
    </div>
</div>

{{ form_end(formRecetteUserOk) }}