{% extends "SuiviEtudesBundle::layout.html.twig" %}

{% block title %}
  Modifier - {{ parent() }}
{% endblock %}

{% block suivietudes_body %}

<p>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flashMessage|raw }}
            </div>
        {% endfor %}
         {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info" role="alert">
                {{ flashMessage|raw }}
            </div>
        {% endfor %}

  <h2>Modifier la demande n°{{demande.id}}</h2>

  {{ include ("SuiviEtudesBundle:Demande:form.Edit.html.twig") }}

  <p>
    <a href="{{ path('suivi_etudes_voir', {'id': demande.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la demande
    </a>
  </p>

{% endblock %}