<pdf Title="Suivi Etudes-Demande">
    <dynamic-page encoding="UTF-8">
        <placeholders>
            <footer>
                <div height="20px" text-align="right">
                    <page-info format="page %s de %s"/>
                </div>
            </footer>
        </placeholders>
        <div height="20px" background-color="#367fa9" color="#FFFFFF">
            <h1 padding-left="20px" font-style="bold">Suivi Etudes</h1>
            <h1 text-align="center" text-decoration="underline">Demande: {{demande.titre}}</h1>
        </div>

        <h2 text-decoration="underline">Description:</h2>
        <p>
            {{demande.description |html_decode |raw('html')}}
        </p>
        <table background-color="#ecf0f5">
            <tr>
                <td padding="4px">Numéro de demande</td>
                <td padding="4px">#{{demande.id}}</td>
            </tr>
            <tr>
                <td padding="4px">Créée le</td>
                <td padding="4px">{{demande.date|date('d/m/Y')}}</td>
            </tr>
            <tr>
                <td padding="4px">Statut</td>
                <td padding="4px">{{demande.statut}}</td>
            </tr>
            <tr>
                <td padding="4px">Demandeur</td>
                <td padding="4px">
                    {% for dem in demande.demandeUser %}
                        {% if dem.type is constant('DEMANDEUR', dem) %}
                            {{ dem.user.displayname}}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td padding="4px">Type de demande</td>
                <td padding="4px">{{demande.type.name}}</td>
            </tr>
            <tr>
                <td padding="4px">Observateur</td>
                <td padding="4px">
                    {% for dem in demande.demandeUser %}
                        {% if dem.type is constant('OBSERVATEUR', dem) %}
                            {{ dem.user.displayname}}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td padding="4px">Application concernée</td>
                <td padding="4px">
                    {% if demande.application %}
                        {%if demande.application is iterable %}
                            {%for row in demande.application%}
                                {{row.name}}<br />
                            {%endfor%}
                        {%endif%}
                    {% else %} 
                        -- 
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td padding="4px">Service concerné</td>
                <td padding="4px">
                    {%if demande.service%}
                        {{demande.service.direction.libelle}} - {{demande.service.libelle}}
                    {%endif%}
                </td>
            </tr>
            <tr>
                <td padding="4px">Priorité</td>
                <td padding="4px">{{ demande.criterionOrigin.points|default(0) * demande.criterionPopulation.points|default(0) * demande.criterionFrequence.points|default(0) }}</td>
            </tr>
            <tr>
                <td padding="4px">Charge(s) estimée(s)</td>
                <td padding="4px">
                    {{demande.charges}} heures{% if demande.charges > 10 %} ({{ (demande.charges / 8)|round(1, 'floor')}} jours){% endif %}.
                </td>
            </tr>
            <tr>
                <td padding="4px">Technicien(s)</td>
                <td padding="4px">
                    {% for dem in demande.demandeUser %}
                        {% if dem.type is constant('TECHNICIEN', dem) %}
                            {{ dem.user.displayname}}<br/>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td padding="4px">Date Recette</td>
                <td padding="4px">{{demande.dateRecette|date('d/m/Y')}}</td>
            </tr>
            <tr>
                <td padding="4px">Chef(s) de projet</td>
                <td padding="4px">
                    {% for dem in demande.demandeUser %}
                        {% if dem.type is constant('CHEF_DE_PROJET', dem) %}
                            {{ dem.user.displayname}}<br />
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td padding="4px">Mise en production</td>
                <td padding="4px">{{demande.dateProduction|date('d/m/Y')}}</td>
            </tr>
        </table>
    </dynamic-page>
</pdf>
