<label class="required" for="resourceForm_name">Nom de ressource: </label>
<input id="resourceForm_name" class="form-control" type="text" required="required" name="resourceForm[name]">
<label class="required" for="resourceForm_route">Trajet de la route: </label>
<input id="resourceForm_route" class="form-control" type="text" required="required" name="resourceForm[route]">
<label class="required" for="resourceForm_parentId">Père: </label>
<select id="resourceForm_parentId" class="form-control" name="resourceForm[parentId]">
    <option value="">-</option>
    {%for bundle in bundles%}
        <option value="{{bundle.id}}">{{bundle.name}}</option>
    {%endfor%}
</select>