{% extends 'AclBundle:layout:base.html.twig' %}
{% set page_title = 'HOMEPAGE' %}
{% block body %}
    <section class="content-header">
        <h1>ACL home</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-hover dataTable" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th rowspan="1" colspan="1">No.</th>
                                                <th rowspan="1" colspan="1">Bundle</th>
                                                <th rowspan="1" colspan="1">Activé</th>
                                                <th rowspan="1" colspan="1">Controller</th>
                                                <th rowspan="1" colspan="1">Nom de l'action</th>
                                                <th rowspan="1" colspan="1">URL</th>
                                                <th rowspan="1" colspan="1">Variables</th>
                                                <th rowspan="1" colspan="1">Méthodes</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th rowspan="1" colspan="1">No.</th>
                                                <th rowspan="1" colspan="1">Activé</th>
                                                <th rowspan="1" colspan="1">Bundle</th>
                                                <th rowspan="1" colspan="1">Controller</th>
                                                <th rowspan="1" colspan="1">Nom de l'action</th>
                                                <th rowspan="1" colspan="1">URL</th>
                                                <th rowspan="1" colspan="1">Variables</th>
                                                <th rowspan="1" colspan="1">Méthodes</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {%for key,resource in appRoutes%}
                                                <tr role="row">
                                                    <td>{{key+1}}</td>
                                                    <td>{%if resource['active'] is defined %}<b>Oui</b>{%else%}Non{%endif%}</td>
                                                    <td>{{resource['bundle']}}</td>
                                                    <td>{{resource['controller']}}</td>
                                                    <td>{{resource['name']}}</td>
                                                    <td>{{resource['url']}}</td>
                                                    <td>
                                                        {% if resource['variables'] is iterable %}
                                                            <ul>
                                                                {% for var in resource['variables'] %}
                                                                    <li>{{var}}</li>
                                                                    {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if resource['methods'] != "--" %}
                                                            <ul>
                                                                <li>{{resource['methods']}}</li>
                                                            </ul>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section>
{% endblock %}