<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <title> INDEX | ACL</title>
        <link href="/Applications/web/bundles/acl/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/Applications/web/bundles/acl/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/Applications/web/bundles/acl/LTE/css/AdminLTE.min.css" rel="stylesheet" /> 
        <link href="/Applications/web/bundles/acl/LTE/css/skins/_all-skins.min.css" rel="stylesheet" />
        <link href="/Applications/web/bundles/acl/app/css/styles.css" rel="stylesheet" />  
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        {% set page_title = 'INDEX' %}
    </head>
    <body>
        {% block body %}
            <section class="content">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3>ACL</h3>
                            </div>
                        </div>
                    </div><!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>Hierarchie</h3>
                            </div>
                        </div>
                    </div><!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>Etudes</h3>
                            </div>
                        </div>
                    </div><!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>Societe</h3>
                            </div>
                        </div>
                    </div><!-- ./col -->
                </div>
            </section>
        {% endblock %}
    </body>
</html>