{% extends 'AclBundle:layout:base.html.twig' %}
{% set page_title = 'Documentation' %}
{% block body %}
    <section class="content-header">
        <h1>Comment utiliser les ACL (Liste de contrôle d'accès)</h1>
    </section>
    <section class="content">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#ressource">Ressources</a></li>
            <li><a data-toggle="tab" href="#group">Groupes</a></li>
            <li><a data-toggle="tab" href="#utilisateur">Utilisateurs</a></li>
            <li><a data-toggle="tab" href="#niveau">Les niveaux de acl</a></li>
        </ul>
        <div class="tab-content">
            <div id="ressource" class="tab-pane fade in active">
                <h2>Ressources</h2>
                <p>Une ressource peut être l'un des trois:</p>
                <ul>
                    <li>Application (bundle=un paquet)</li>
                    <li>Un itinéraire (l'alias, le nom de la route)</li>
                    <li>Un chemin de l'itinéraire (route avec des paramètres)</li>
                </ul>
                <div>
                    <h3>Ajouter une ressource</h3>
                    <img src="{{asset('bundles/acl/images/documentation/resource_add.png')}}" />
                    <p>De la liste déroulante choisir une des trois options disponibles: Application,Nom de la route,Trajet de la route.
                        Après avoir choisi une option les champs requis pour cette option seront apparaitra sur l'écran.</p>
                    <h3>Ajout d'une application</h3>
                    <p>Dans la liste déroulante, choisissez une application. Le nom de la liste de ressources sera automatiquement charger tous les 
                        noms de "bundle" à partir des fichiers de configuration de l'application (yml, xml, annotation).</p>
                    <img src="{{asset('bundles/acl/images/documentation/resource_add_app.png')}}" />
                    <h3>Ajout une itinéraire</h3>
                    <p>Dans la liste déroulante choisir "Nom de la route"</p>
                    <p>Ajoutez un nom pour cette ressource (Nom de ressource :), choisissez le nom de la route, puis ajouter, si le cas,
                        le père application (bundle) en choisissant un nom dans le liste déroulante.</p>
                    <img src="{{asset('bundles/acl/images/documentation/resource_add_routeName.png')}}" />
                    <h3>Ajout une trajet de la route</h3>
                    <p>Ajoutez un nom pour cette ressource (Nom de ressource :), choisissez le trajet de la route, puis ajouter, si le cas,
                        le père application (bundle) en choisissant un nom dans le liste déroulante.</p>
                    <p><kbd>Si une règle de nom de la route existe alors cette règle est appliquée d'abord, puis de ce trajet de la route, avec la règle des 
                            paramètres spécifié sont appliqué.</kbd></p>
                    <img src="{{asset('bundles/acl/images/documentation/resource_add_routePath.png')}}" />
                    <h3>Visualisez les ressources</h3>
                    <p>Sur cette page, vous pouvez afficher et filtrer les ressources existantes. Vous pouvez également modifier une ressource
                        et également désactiver / activer une ressource.</p>
                    <p>Vous pouvez également filtrer et trier les ressources disponibles.</p>
                    <img src="{{asset('bundles/acl/images/documentation/resource_view.png')}}" />
                    <h3>Ajouter utilisateurs</h3>
                    <p>En cliquant sur le bouton "Utilisateurs", une nouvelle fenêtre apparaitra. Dans cette fenêtre, vous pouvez ajouter un utilisateur
                        au groupe ou supprimer un utilisateur du cet groupe. Pour ajouter un nouvel utilisateur cliquer sur le bouton "Ajouter utilisateurs"
                        , sélectionner l'utilisateur dans la liste déroulante, puis cliquez sur "Ajouter".</p>
                </div>
            </div>
            <div id="group" class="tab-pane fade">
                <h2>Groupes</h2>
                <p>Un groupe d'une utilisateurs contient les ressources de ce groupe et les utilisateurs qui sont dans ce groupe.</p>
                <h3>Ajouter un groupe</h3>
                <p>Dans le menu de gauche choisir "groupes", puis "créer". Sur la page du groupe de ajouter groupe compléter le nom du groupe.</p>
                <h3>Visualiser les groupes</h3>
                <p>Sur cette page vous pouvez voir des groupes existant et d'inspecter les ressources définies pour un groupe et également 
                    ajouter des utilisateurs à ce groupe.</p>
                <img src="{{asset('bundles/acl/images/documentation/group_view.png')}}" />
                <h3>Modifier une ressource</h3>
                <p>En cliquant sur le "modifier" buton vous pouvez modifier le nom du groupe.</p>
                <h3>Ressources du groupe</h3>
                <p>Pour voir la ressource d'un groupe, cliquez sur le bouton des ressources.</p>
                <img src="{{asset('bundles/acl/images/documentation/group_resources.png')}}" />
                <p>Sur cette page, vous pouvez ajouter une nouvelle ressource ou modifier l'accès de la ressource sélectionnée. Vous pouvez 
                    désactiver/activer une ressource pour le groupe sélectionné; vous pouvez restreindre l'accès à une ressource ou autoriser 
                    l'accès à une ressource dans cet groupe.</p>
                <h3>Ajouter une ressource</h3>
                <p>En cliquant sur le "Ajouter ressource" buton vous pouvez ajouter une nouvelle ressource pour cet groupe et configurez également l'accès aux ressources
                    pour les utilisateurs de cet groupe.</p>
                <img src="{{asset('bundles/acl/images/documentation/group_add_resource.png')}}" />
            </div>
            <div id="utilisateur" class="tab-pane fade">
                <h2>Utilisateurs</h2>
                <p>Un utilisateur peut être présent dans plusieurs groupes ou en a pas.</p>
                <h3>Visualiser</h3>
                <img src="{{asset('bundles/acl/images/documentation/user_view.png')}}" />
                <p>Sur cette page, vous pouvez visualiser les utilisateurs, desactiver ou activer une utilisateur. 
                    Vous pouvez aussi ajouter du droits por tous les utilisateurs ou pour une sole utilisateur. Aussi vous pouvez
                    voir le droit pour un utilisateur et permettre ou limiter 
                    l'accès d'un utilisateur ou tous les utilisateurs à une ressource.
                </p>
                <img src="{{asset('bundles/acl/images/documentation/user_rights.png')}}" />
                <p>Pour ajouter un droit pour tous les utilisateurs, cliquez sur le bouton "Ajouter de droit".
                    Sur cette page, vous pouvez sélectionner dans la liste déroulante, soit tous les utilisateurs ou d'un utilisateur en particulier vers le bas. 
                    En cliquant sur le même bouton, mais partir de la page des droits de l'utilisateur que vous serez en mesure de faire la même chose, mais seulement pour l'utilisateur sélectionné.
                </p>
                <img src="{{asset('bundles/acl/images/documentation/user_add_right.png')}}" />
            </div>
            <div id="niveau" class="tab-pane fade in">
                <h2>Les niveaux de acl</h2>
                <p>Acl est composé de:</p>
                <ul>
                    <li>Ressources</li>
                    <li>Groupes d'utilisateurs</li>
                    <li>Utilisateurs</li>
                </ul>
                <p>Acl dispose de 4 niveaux pour une ressource, et ces niveaux sont appliquées à partir du niveau 1 (le plus élevé) au niveau 4 (le plus bas) .Ces sont:</p>
                <ul>
                    <li>Niveau 1: Une règle appliqués pour un utilisateur spécifique qui n'est pas dans un groupe spécifique.</li>
                    <li>Niveau 2: Une règle pour un utilisateur spécifique qui se trouve dans un groupe.</li>
                    <li>Niveau 3: Une règle pour tous les utilisateurs dans un groupe.</li>
                    <li>Niveau 4: Une règle pour tous les utilisateurs qui ne sont pas dans un groupe.</li>
                </ul>
                <div class="alert-danger">
                    <p>Attention !!!</p>
                    <p>Un utilisateur peut être présent dans plusieurs groupes, mais être très prudent de ne pas ajouter la même ressource 
                        dans plusieurs groupes. Ci-dessous, il est un exemple de mise en œuvre ACL.</p>
                </div>
                <h2>Exemple de mise en oeuvre Acl</h2>
                <p>Disons que nous avons deux faisceaux sur lesquels nous voulons appliquer ACL: hierarchy et ACL.</p>
                <p>Nous allons ajouter ces deux faisceaux comme des applications, ACL ressource et Hiérarchie ressource.</p>
                <p>Nous allons également définir deux groupes: le groupe ACL et le groupe hiérarchie.</p>
                <p>Sur le faisceau hiérarchie, nous allons ajouter deux de plus de ressources, 2 itinéraires: un alias = vue_hiérarchie_par_id et 
                    une autre= comme chemin: / administration / hierarchie / vue / 10.</p>
                <p>Donc pour l'instant nos ressources ACL ressembler à ceci:</p>
                <div role="grid" class="dataTables_wrapper form-inline">
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">No.</th>
                                <th rowspan="1" colspan="1">Groupe</th>
                                <th rowspan="1" colspan="1">Ressource nom</th>
                                <th rowspan="1" colspan="1">Ressource</th>
                                <th rowspan="1" colspan="1">Droit</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">No.</th>
                                <th rowspan="1" colspan="1">Groupe</th>
                                <th rowspan="1" colspan="1">Ressource nom</th>
                                <th rowspan="1" colspan="1">Ressource</th>
                                <th rowspan="1" colspan="1">Droit</th>
                            </tr>
                        </tfoot>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            <tr>
                                <td>1</td>
                                <td>Pas de groupe</td>
                                <td>ACL bundle</td>
                                <td>ACL faisceaux</td>
                                <td>NON</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>ACL groupe</td>
                                <td>ACL bundle</td>
                                <td>ACL faisceaux</td>
                                <td><kbd>OUI</kbd></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Pas de groupe</td>
                                <td>Hiérarchie bundle</td>
                                <td>Hiérarchie faisceaux</td>
                                <td>NON</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Hiérarchie groupe</td>
                                <td>Hiérarchie bundle</td>
                                <td>Hiérarchie faisceaux</td>
                                <td>OUI</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Hiérarchie groupe</td>
                                <td>Voir hiérarchie par id</td>
                                <td>vue_hiérarchie_par_id</td>
                                <td>NON</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Hiérarchie groupe</td>
                                <td>Voir hiérarchie 10</td>
                                <td>/administration/hierarchie/vue/10</td>
                                <td>NON</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>Ajoutons maintenant 3 utilisateurs: Pierre,Mikael et Julien.</p>
                <p>Ajoutons maintenant des règles pour chacun d'eux et de voir la table finale de l'ACL.</p>
                <p>Pierre</p>
                <ul>
                    <li>ACL bundle = OUI</li>
                    <li>Hiérarchie bundle = OUI</li>
                    <li>Voir hiérarchie par id = OUI</li>
                    <li>Voir hiérarchie 10 = NON</li>
                </ul>
                <p>Mikael</p>
                <ul>
                    <li>ACL bundle = OUI</li>
                    <li>Hiérarchie bundle = NON</li>
                    <li>Voir hiérarchie par id = NON</li>
                    <li>Voir hiérarchie 10 = NON</li>
                </ul>
                <p>Julien</p>
                <ul>
                    <li>ACL bundle = OUI</li>
                    <li>Hiérarchie bundle = OUI</li>
                    <li>Voir hiérarchie par id = NON</li>
                    <li>Voir hiérarchie 10 = OUI</li>
                </ul>
                <div role="grid" class="dataTables_wrapper form-inline">
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">Utilisateur</th>
                                <th rowspan="1" colspan="1">Ressource nom</th>
                                <th rowspan="1" colspan="1">Ressource</th>
                                <th rowspan="1" colspan="1">Père</th>
                                <th rowspan="1" colspan="1">Niveau</th>
                                <th rowspan="1" colspan="1">explication</th>
                                <th rowspan="1" colspan="1">Droit</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">Utilisateur</th>
                                <th rowspan="1" colspan="1">Ressource nom</th>
                                <th rowspan="1" colspan="1">Ressource</th>
                                <th rowspan="1" colspan="1">Père</th>
                                <th rowspan="1" colspan="1">Niveau</th>
                                <th rowspan="1" colspan="1">explication</th>
                                <th rowspan="1" colspan="1">Droit</th>
                            </tr>
                        </tfoot>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            <tr>
                                <td><kbd>Pierre</kbd></td>
                                <td>ACL bundle</td>
                                <td>ACL faisceaux</td>
                                <td>-</td>
                                <td>3</td>
                                <td>-</td>
                                <td><kbd>OUI</kbd></td>
                            </tr>
                            <tr>
                                <td><kbd>Pierre</kbd></td>
                                <td>Hiérarchie bundle</td>
                                <td>Hiérarchie faisceaux</td>
                                <td>-</td>
                                <td>4</td>
                                <td>-</td>
                                <td><kbd>OUI</kbd></td>
                            </tr>
                            <tr>
                                <td><kbd>Pierre</kbd></td>
                                <td>Hiérarchie groupe/ oui</td>
                                <td>Voir hiérarchie par id</td>
                                <td>vue_hiérarchie_par_id</td>
                                <td>3</td>
                                <td>-</td>
                                <td><kbd>OUI</kbd></td>
                            </tr>
                            <tr>
                                <td><kbd>Pierre</kbd></td>
                                <td>Hiérarchie groupe/ oui</td>
                                <td>Voir hiérarchie 10</td>
                                <td>/administration/hierarchie/vue/10</td>
                                <td>3</td>
                                <td>peut voir tous les résultats définis par<br> l'alias de la route, sauf celui-ci</td>
                                <td>NON</td>
                            </tr>
                            <tr>
                                <td>Mikael</td>
                                <td>ACL bundle</td>
                                <td>ACL faisceaux</td>
                                <td>-</td>
                                <td>3</td>
                                <td>-</td>
                                <td><kbd>OUI</kbd></td>
                            </tr>
                            <tr>
                                <td>Mikael</td>
                                <td>Hiérarchie bundle</td>
                                <td>Hiérarchie faisceaux</td>
                                <td>-</td>
                                <td>4</td>
                                <td>-</td>
                                <td>NON</td>
                            </tr>
                            <tr>
                                <td>Mikael</td>
                                <td>Hiérarchie groupe/ oui</td>
                                <td>Voir hiérarchie par id</td>
                                <td>vue_hiérarchie_par_id</td>
                                <td>3</td>
                                <td>-</td>
                                <td>NON</td>
                            </tr>
                            <tr>
                                <td>Mikael</td>
                                <td>Hiérarchie groupe/ oui</td>
                                <td>Voir hiérarchie 10</td>
                                <td>/administration/hierarchie/vue/10</td>
                                <td>3</td>
                                <td>-</td>
                                <td>NON</td>
                            </tr>
                            <tr>
                                <td><kbd>Julien</kbd></td>
                                <td>ACL bundle</td>
                                <td>ACL faisceaux</td>
                                <td>-</td>
                                <td>3</td>
                                <td>-</td>
                                <td><kbd>OUI</kbd></td>
                            </tr>
                            <tr>
                                <td><kbd>Julien</kbd></td>
                                <td>Hiérarchie bundle</td>
                                <td>Hiérarchie faisceaux</td>
                                <td>-</td>
                                <td>4</td>
                                <td>-</td>
                                <td><kbd>OUI</kbd></td>
                            </tr>
                            <tr>
                                <td><kbd>Julien</kbd></td>
                                <td>Hiérarchie groupe/ oui</td>
                                <td>Voir hiérarchie par id</td>
                                <td>vue_hiérarchie_par_id</td>
                                <td>3</td>
                                <td>-</td>
                                <td>NON</td>
                            </tr>
                            <tr>
                                <td><kbd>Julien</kbd></td>
                                <td>Hiérarchie groupe/ oui</td>
                                <td>Voir hiérarchie 10</td>
                                <td>/administration/hierarchie/vue/10</td>
                                <td>3</td>
                                <td>peut voir que cette ressource mais <br> pas tous définis par l'alias de route</td>
                                <td><kbd>OUI</kbd></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}