{% extends 'AdminBundle:layout:base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9"  style="display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-content: center; align-content: center;">
                <ul class="ca-menu">
                    <li>
                        <a href="{{ path('index_poste') }}">
                            <span class="ca-icon"><i class="glyphicon glyphicon-user"></i></span>
                            <div class="ca-content">
                                <h2 class="ca-main">Poste</h2>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('index_profil') }}">
                            <span class="ca-icon"><i class="fa fa-users"></i></span>
                            <div class="ca-content">
                                <h2 class="ca-main">Profil</h2>

                            </div>
                        </a>
                    </li>
                    {% if is_granted('ROLE_DMLI_ADMIN') %}
                    <li>
                        <a href="{{ path('index_kit') }}">
                            <span class="ca-icon"><i class="fa fa-desktop"></i></span>
                            <div class="ca-content">
                                <h2 class="ca-main">Kit Matériel</h2>

                            </div>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('index_mail') }}">
                            <span class="ca-icon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <div class="ca-content">
                                <h2 class="ca-main">Groupe Outlook</h2>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('index_crm') }}">
                            <span class="ca-icon"><i class="glyphicon glyphicon-level-up"></i></span>
                            <div class="ca-content">
                                <h2 class="ca-main">Profil CRM</h2>

                            </div>
                        </a>
                    </li>
                </ul>
                </div>

        <div class="col-md-3">
            {% include "AdminBundle:layout:guide.html.twig" %}
        </div>
    </div>
{% endblock %}
