<!-- SCRIPTS -->
{% block javascripts %}
    <script src="{{ asset('/Applications/web/bundles/hierarchie/jquery/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('/Applications/web/bundles/hierarchie/app/js/bootstrap.js') }}"></script>
    <script src="{{ asset('/Applications/web/bundles/hierarchie/dist/js/app.js') }}"></script>
{% endblock %}
<!-- END SCRIPTS -->