{# src/Suivi/ReportingBundle/Resources/views/Reporting/statistique.html.twig #}

{% extends "SuiviEtudesBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block suivietudes_body %}

  <script type="text/javascript" src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts-3d.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/obhighcharts/js/highcharts/modules/drilldown.js') }}"></script>

  {# Import & Print #}
  <script type="text/javascript" src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
  
  
  {% block graph %}
  {% endblock %}
  
  <p>
    <a href="{{ path('suivi_etudes_accueil')}}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Tableau de bord
    </a>
  </p>
  
{% endblock %}