{% extends 'AdminBundle:layout:base.html.twig' %}

    {% block body %}

        <script>

            $(document).ready(function () {
                $('#myform').bootstrapValidator({
                    err: {
                        container: '#messages'
                    },
                    fields: {
                        "gestion_adminbundle_profil[posteHolder]": {
                            validators: {
                                notEmpty: {
                                    message: 'Ce champ est obligatoire!'
                                },

                            }
                        },
                    }
                });
            });

        </script>
        <section class="content-header">
            <h1>
                Modifier Poste

            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Poste</h3>
                        </div>
                        <form action="{{ path('edit_poste_valid') }}" method="post" class="form-horizontal" id="myform">

                            <div class="box-body">
                                <div class="row">

                                    <div class="col-md-6">
                                        <strong> Poste :</strong>
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_widget(form.posteHolder, {'attr':{'placeholder':
                                            result.libelle }}) }}
                                    </div>
                                    <input id="mal" name="mal" value="{{ result.id }}" type="hidden" />
                                </div>

                            </div>
                            <div class="box-footer"><div class="row"> <div class="col-xs-10">   <a href="{{ path('index_poste') }}">{{ form_row(form.Annuler) }}</a></div>
                                    <div class="col-xs-2">    {{ form_row(form.Valider) }}</div></div>



                            </div>
                        </form>
                    </div>
                </div></div></section>

    {% endblock %}