
{% form_theme form 'DDRCBundle:Form:bootstrap_3_layout.html.twig' %}


{% block body -%}
    
    <div class="panel panel-default">
        <div class="panel-body">
        <h3>Remboursement de la facture de reparation et/ou du devis payant</h3>

            {{ form_start(form) }}
            
			   {{ form_row(form.civilite) }}
                           {{ form_row(form.firstName) }}
                           {{ form_row(form.lastName) }}
                           {{ form_row(form.address) }}
                           {{ form_row(form.city) }}
                           {{ form_row(form.zipcode) }}
                           {{ form_row(form.date) }}
                           {{ form_row(form.paybackAmount) }}
                           {{ form_row(form.idMagasin) }}
			   {{ form_errors(form) }}
			   <p>formats acceptes: png, jpeg, pdf,doc, docx</p>
                           <p>S'il vous plaît ajouter la facture de répartion et/ou du devis payant  </p>
			   {{ form_row(form.attachement1) }}
                           {{ form_row(form.attachement3) }}
			   {{ form_row(form.attachement2) }}
                           {{ form_row(form.attachement4) }}
           
			{{ form_end(form) }}

        </div>
    </div>
{% endblock %}
