{% stylesheets 
	'@ChecklistBundle/Resources/public/css/bootstrap.css'
	'js/chosen_v1.3.0/chosen.css'
	'@ChecklistBundle/Resources/public/css/style.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />    
{% endstylesheets %}
{% stylesheets
    output='/fonts/glyphicons-halflings-regular.ttf'
    'fonts/glyphicons-halflings-regular.ttf'
%}{% endstylesheets %}

{% javascripts 
	'js/jquery-ui-1.11.1/external/jquery/*'
	'js/bootstrap/bootstrap.min.js'
	'js/chosen_v1.3.0/chosen.jquery.min.js'
	'js/tablesorter/js/*'
	'js/jquery-ui-1.11.1/jquery-ui.min.js'
	'@ChecklistBundle/Resources/public/js/dateWidget.js'
	'@ChecklistBundle/Resources/public/js/testDispoTech.js'
	'@ChecklistBundle/Resources/public/js/testVisitesChecklist.js'
    %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

	{% if encore is defined and encore  %}
		<script>
			$('#tempsDeInteruption').modal('show');
		</script>
	{% endif %}
	
	{% if notVerifieeValide is defined and notVerifieeValide  %}			
		<script>
			function confirmTerminer(){
				if(confirm('Pas touts le resultats ont ete valide! Etes-vous sûr?')){
					$('#tempsDeInteruption').modal('show');
				}
			}
		</script>
	{% endif %}	

	<script>	
		function updateCheckboxes(){
			$('#form_pointsDeControle option').each(function(){
				var id = ($(this).attr('selected'));
				var value = 'associee_' + $(this).attr('value');
				var text = $(this).text();
				if(id === 'selected'){
					if (!$("#" + value).length) {
						$("#associee").append('<div class="optionalCheckbox"><input type="checkbox" checked="checked" class="associee" id="' + value + '" > ' + text + '<br></div>');	
					}
				}  
			});	
		}
		function updateChosen(param){
			$(".search-choice-close").each(function(){
				var toFind = parseInt($(this).attr('data-option-array-index')) + 1;
				var myVal = 'associee_' + toFind ;
				if( myVal === param){
					$(this).trigger( "click" );
				}
			});
		}
		function updateMultiple(param){
			$('#form_pointsDeControle option').each(function(){
				if( 'associee_' + $(this).val() === param){
					$(this).removeAttr('selected');
				}		
			})
		}

		$(document).ready(function(){
			$(".chosen-select").chosen({no_results_text: "Oops, rien trouvé!"});
			updateCheckboxes();	
			// ALWAYS WORKS WHEN CHOSEN REMOVE OR CHOSEN ADD
			{#$(".chosen-select").chosen().change(function(){				
			});#}
			$('.chosen-results').mousedown(function(){
				$('.chosen-results li').click(function(){
					var param = $(this).attr('data-option-array-index');
					var option = $('#form_pointsDeControle option:eq('+param+')');
					var value = 'associee_' + option.attr('value');
					var text = option.text();
					if(!$("#"+value).length){
						$("#associee").append('<div class="optionalCheckbox"><input type="checkbox" checked="checked" class="associee" id="' + value + '" > ' + text + '<br></div>');	
					}	
					$('#form_pointsDeControle option:eq('+param+')').attr("selected","selected");
				});
			});
			$('.chosen-choices').mousedown(function(){
				$('.search-choice-close').click(function(event){	
					var param = $(this).attr('data-option-array-index');
					var option = $('#form_pointsDeControle option:eq('+$(this).attr('data-option-array-index')+')');
					var value = 'associee_' + $('#form_pointsDeControle option:eq('+param+')').attr('value');		
					$('#'+value).parent().remove();
					$('#form_pointsDeControle option:eq('+param+')').removeAttr('selected');
				});		
			});
			$('#associee').mousedown(function(){
				$('.optionalCheckbox').click(function(event){
					var target = $(event.target);
					if (target.is('input:checkbox')) {
						var checkbox = target;					
					} else {
						var checkbox = $(this).find("input[type='checkbox']");					
					}
					updateChosen(checkbox.attr('id'));
					updateMultiple(checkbox.attr('id'));
					$(this).remove();
				});
			});
		});	
	</script>
	<script>
		$(document).ready(function() {
			$("#listTableSorter").tablesorter({
				widthFixed : true,
				widgets:['filter']
			});
		});
	</script>