{% for flashMessage in app.session.flashbag.get('modificationSociete') %}
	<div role="alert" class="alert alert-success alert-dismissable disabled">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
		<p style="display:inline-block;">{{ flashMessage }}</p>
	</div>
{% endfor %}
	{{ form_start(formSociete, {'attr': {'novalidate': 'novalidate'}}) }}	
	{{ form_errors(formSociete) }}
			<h1>Société {{societe.reference}} - {{societe.NumEtablissement}}</br> ({{societe.raison}})</h1>
			</br>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.direction) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.direction) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.categorie) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.categorie) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.region) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.region) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.gerant) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.gerant) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.gestionnairePaie) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.gestionnairePaie) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.gestionnaireContrat) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.gestionnaireContrat) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.gestionnaireRH) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.gestionnaireRH) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.AnimateurZone) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.AnimateurZone) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.adv) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.adv) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2"><label>Capital</label></div>
				<div class="col-md-4 col-xs-2">{{societe.capital}}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2"><label>Adresse</label></div>
				<div class="col-md-4 col-xs-2">{{societe.adresse}}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2"><label>Code Postal</label></div>
				<div class="col-md-4 col-xs-2">{{societe.codePostal}}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2"><label>Ville</label></div>
				<div class="col-md-4 col-xs-2">{{societe.ville}}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2"><label>N° de Siret</label></div>
				<div class="col-md-4 col-xs-2">{{societe.siret}}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.mutuelle) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.mutuelle) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.RCS) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.RCS) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.codeAPE) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.codeAPE) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.CCN) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.CCN) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-8 col-xs-4"><p align="center"><b>NET-ENTREPRISE.FR</b></p></div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.nomNetEntreprise) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.nomNetEntreprise) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.prenomNetEntreprise) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.prenomNetEntreprise) }}</div>
			</div>
			<div  class="form-group row">
				<div class="col-md-4 col-xs-2">{{ form_label(formSociete.passwordNetEntreprise) }}</div>
				<div class="col-md-4 col-xs-2">{{ form_widget(formSociete.passwordNetEntreprise) }}</div>
			</div>
	{{ form_end(formSociete) }}