{% block body %}
    {% for key,name in list %}
        {% set level = name|split('-- ')|length %}
        {% if selected == key or key in isChild|keys %} 
            {% set disabled = 'disabled' %}
        {% else %}
            {% set disabled = 'enabled' %}
        {% endif %}
        <option value="{{ key }}" {% if disabled == "disabled" %} disabled {% endif %} {% if parent == key %} selected="selected" {% endif %}> {{ name }} </option>
    {% endfor %}
{% endblock %}