{% extends 'AclBundle:layout:base.html.twig' %}
{% set page_title = 'Groupe ressource visualiser' %}
{% block body %}
    <section class="content-header">
        <h1>Groupe <b>{{grpName}}</b> ressources</h1>
    </section>
    <section class="content">
        <a class="btn btn-primary" href="{{ path('acl_role_add_resources',{'id':id}) }}">Ajouter ressource</a>
        <div class="box">
            <div class="box-body">
                <div role="grid" class="dataTables_wrapper form-inline">
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">No.</th>
                                <th rowspan="1" colspan="1">Nom</th>
                                <th rowspan="1" colspan="1">Actes</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">No.</th>
                                <th rowspan="1" colspan="1">Nom</th>
                                <th rowspan="1" colspan="1">Actes</th>
                            </tr>
                        </tfoot>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            {% for key,item in data %}
                                <tr>
                                    <td>{{ key+1 }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        {%if item.activeRight == 1%}
                                            <button class="btn btn-danger xhr-role-resource-deactivate" data-href="{{ path('acl_role_resource_deactivate', {'id': item.id}) }}">Désactiver</button>
                                            {%if item.allowedRight == 1%}
                                                <button class="btn btn-warning xhr-role-resource-disallow" data-href="{{ path('acl_role_resource_disallow', {'id': item.id}) }}">Rejeter</button>
                                            {%else%}
                                                <button class="btn btn-primary xhr-role-resource-allow" data-href="{{ path('acl_role_resource_allow', {'id': item.id}) }}">Permettre</button>
                                            {%endif%}
                                        {%else%}
                                            <button class="btn btn-warning xhr-role-resource-activate" data-href="{{ path('acl_role_resource_activate', {'id': item.id}) }}">Activer</button>
                                        {%endif%}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- /.box-body -->
        </div>
    </section>
{% endblock %}