
	<p>le technicien {{ rapport.0.visites.technicien.displayname }} a rencontré un problême
	lors de la visite du magasin de {{ rapport.0.visites.magasin.nom }}<p>
	
	<div class="table-div-60">
		<table class="table tablesorter table-striped table-hover">
		{% for resultat in rapport %}
			{% if loop.first or (rapport[loop.index-2].pointsDeControle.id != resultat.pointsDeControle.id ) %}		
				<th colspan=2>	{{ resultat.pointsDeControle.nom}}</th>
			{% endif %}	
			{% if resultat.pointsDeControle.type == constant('TYPE_VISUEL', resultat.pointsDeControle) %}
				{% include 'ChecklistBundle:pointDeControle:controleVisuel.html.twig' with {'resultat': resultat} only %}
			{% elseif resultat.pointsDeControle.type == constant('TYPE_INSTALLATION_LOGICIEL', resultat.pointsDeControle) %}
				{% include 'ChecklistBundle:pointDeControle:InstallationDeLogiciel.html.twig' with {'resultat': resultat} only %}
			{% elseif resultat.pointsDeControle.type == constant('TYPE_ACTION', resultat.pointsDeControle) %}		
				{% include 'ChecklistBundle:pointDeControle:actionamener.html.twig' with {'resultat': resultat} only %}
			{% elseif resultat.pointsDeControle.type == constant('TYPE_RETOUR_INFO', resultat.pointsDeControle) %}
				{% include 'ChecklistBundle:pointDeControle:ControleAvecRetourDInfo.html.twig' with {'resultat': resultat} only %}
			{% endif %}	
			{% if not (loop.last or (rapport[loop.index].pointsDeControle.id != resultat.pointsDeControle.id ))%}	
				<tr class="info"><td></td><td></td></tr>		
			{% endif %}	
				<tr class="info"><td></td><td></td></tr>
				<tr class="info"><td></td><td></td></tr>
				<tr class="info"><td></td><td></td></tr>
				<tr class="info"><td></td><td></td></tr>

				
		{% endfor %}
			<tr><td colspan=2><label>Commentaire du Technicien</label></td></tr>
		</table>
	</div>
