{% extends "SuiviEtudesBundle::layout.html.twig" %}

{% block title %}
    Liste d'utilisateur {{ parent() }}
{% endblock %}

{% block body %}
    <link href="{{ asset('all/select2-3.5.4/select2.css') }}" rel="stylesheet" />
    <script src="{{ asset('all/select2-3.5.4/select2.min.js') }}"></script>
    <script>
        $(function () {
            $("#user").select2({
                placeholder: "Select an user",
                allowClear: true
            }).on('select2-removed', function (e) {
                $('.role').each(function () {
                    $(this).prop("checked", false);
                });
                $('#rolesDiv').addClass('hidden');
            }).on('select2-selecting', function (e) {
                $('#rolesDiv').addClass('hidden');
                $('.role').each(function () {
                    $(this).prop("checked", false);
                });
                $('#loader').show();
                var userId = e.choice.id;
                $.ajax({
                    url: $(this).attr('data-url') + '/' + userId,
                    type: 'POST',
                    success: function (json) {
                        $.each(json, function (k, roleName) {
                            $('.role').each(function () {
                                if ($.trim($(this).parent().text()) == roleName) {
                                    $(this).prop("checked", true);
                                }
                            });
                        });
                        $('#rolesDiv').removeClass('hidden');
                        $('#loader').hide();
                    }
                });
            });
        });
    </script>
    <section class="content-header">
        <h1>User list</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary pull-left">
                    <form method="POST">
                        <div class="box-body">
                            <div class="form-group">
                                <label>User:</label>
                                <select name="user" id="user" class="col-lg-12" data-url="{{path('load_user_roles')}}">
                                    <option></option>
                                    {% for user in users %}
                                        <option value="{{user.id}}">{{user.displayname}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group hidden" id="rolesDiv">
                                <label>Roles:</label>
                                {% for role,childs in roles %}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="role[]" class="role" value="{{role}}"> {{role}}
                                        </label>
                                    </div>
                                {% endfor %}   
                            </div>
                        </div>
                        <div class="box-footer">
                            <input type="submit" value="Modify" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}