{# src/Suivi/ReportingBundle/Resources/views/Reporting/chargesetudes.html.twig #}

{% extends "SuiviReportingBundle::layoutreport.html.twig" %}

{% block title %}
  Activité des Etudes - {{ parent() }}
{% endblock %}

{% block graph %}
    <h2>Charges globales des Etudes</h2>
    <div id="containerKeyFigures" class="row">
        {% for application in chargesByApplications %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="glyphicon glyphicon-tag" style="color:white;"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">{{application.name}}</span>
                        <span class="info-box-number">
                            {{application.chargesCPRest + application.chargesDevRest}}
                            <small> jours.</small>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div id="containerChartApplication"></div>
    <h3>Par application</h3>
    <!--<div id="containerChartApplication" style="min-width: 400px; height: 500px;"></div>-->
    <div class="row">
        <div id="containerChartSAP" class="col-md-6 col-sm-6 col-xs-12"></div>
        <div id="containerChartCRM" class="col-md-6 col-sm-6 col-xs-12"></div>
    </div>
    <div class="row">
        <div id="containerChartCOGNOS" class="col-md-6 col-sm-6 col-xs-12"></div>
        <div id="containerChartWEB" class="col-md-6 col-sm-6 col-xs-12"></div>
    </div>
    
    
    <h3>Par type de charges</h3>
    <br/><br/>
    <div class="row">
        <div id="containerChartStatut" class="col-md-6 col-sm-6 col-xs-12"></div>
        <div id="containerChartStatutPie" class="col-md-6 col-sm-6 col-xs-12"></div>
    </div>
    <script type="text/javascript">
    //GRAPHIQUE CHARGE PAR APPLICATION
    //GRAPHIQUE CHARGE PAR APPLICATION
    $(function () {
        $('#containerChartApplication').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: ""
                //text: "Charges en jours par application"
            },
            xAxis: [{
                categories: {{categories|raw}},
                crosshair: true,
                title: {
                    text: "Applications"
                },
            }],
            yAxis: {
                labels: {
                    format: '{value} jours',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                title: {
                    text: 'Charges (en jours)',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                allowDecimals: false
            },
            tooltip: {
                shared: true
            },
            series: {{series_app|raw}},
        });
    });
    //
    //SAP
    $(function () {
        $('#containerChartSAP').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'SAP'
            },
            xAxis: {
                categories: [
                    'Statut'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Charges (en jours)'
                }
            },
            tooltip: {
                enabled:false
                //pointFormat: '{series.name}: <b>{point.y} jours</b>'
            },
            plotOptions: {
                column: {
                    pointPadding: 0.3,
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        backgroundColor: '#357ca5',
                        //borderWidth: 2,
                        color: 'white',
                        borderColor: 'grey',
                        y: -6
                    }
                }
            },
            series: {{series_sap|raw}},
        });
    });
    //CRM - Selligent
    $(function () {
        $('#containerChartCRM').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'CRM - Selligent'
            },
            xAxis: {
                categories: [
                    'Statut'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Charges (en jours)'
                }
            },
            tooltip: {
                enabled:false
                //pointFormat: '{series.name}: <b>{point.y} jours</b>'
            },
            plotOptions: {
                column: {
                    pointPadding: 0.3,
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        backgroundColor: '#357ca5',
                        //borderWidth: 2,
                        color: 'white',
                        borderColor: 'grey',
                        y: -6
                    }
                }
            },
            series: {{series_crm|raw}},
        });
    });
    //COGNOS
    $(function () {
        $('#containerChartCOGNOS').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'COGNOS'
            },
            xAxis: {
                categories: [
                    'Statut'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Charges (en jours)'
                }
            },
            tooltip: {
                enabled:false
                //pointFormat: '{series.name}: <b>{point.y} jours</b>'
            },
            plotOptions: {
                column: {
                    pointPadding: 0.3,
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        backgroundColor: '#357ca5',
                        //borderWidth: 2,
                        color: 'white',
                        borderColor: 'grey',
                        y: -6
                    }
                }
            },
            series: {{series_cognos|raw}},
        });
    });
    //WEB
    $(function () {
        $('#containerChartWEB').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Application WEB'
            },
            xAxis: {
                categories: [
                    'Statut'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Charges (en jours)'
                }
            },
            tooltip: {
                enabled:false
                //pointFormat: '{series.name}: <b>{point.y} jours</b>'
            },
            plotOptions: {
                column: {
                    pointPadding: 0.3,
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        backgroundColor: '#357ca5',
                        //borderWidth: 2,
                        color: 'white',
                        borderColor: 'grey',
                        y: -6
                    }
                }
            },
            series: {{series_web|raw}},
        });
    });
    
    
    
    
    //GRAPHIQUE CHARGE PAR STATUT
    $(function () {
        $('#containerChartStatut').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Statut'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Charges (en jours)'
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.3,
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        backgroundColor: '#357ca5',
                        //borderWidth: 2,
                        color: 'white',
                        borderColor: 'grey',
                        y: -6
                    }
                }
            },
            series: {{series_statut|raw}},
        });
    });

    //GRAPHIQUE REPARTITION CHARGE
    $(function () {
        $('#containerChartStatutPie').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: ''
            },
            tooltip: {
                //enabled:false
                pointFormat: '{series.name}: <b>{point.y} jours</b>'
            },
            plotOptions: {
                pie: {
                    //allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'charges',
                data: {{series_statut_pie|raw}}
            }]
        });
    });
    </script>
{% endblock %}