{# src/Suivi/ReportingBundle/Resources/views/Reporting/statistique.html.twig #}

{% extends "SuiviReportingBundle::layoutreport.html.twig" %}

{% block title %}
  Activité des Etudes - {{ parent() }}
{% endblock %}

{% block graph %}
    <h2>Activité globale des Etudes</h2>

    <script type="text/javascript">
        $(function () {
            $('#containerChart').highcharts({
                chart: {
                    type: "column",
                    options3d: {
                        enabled: true,
                        alpha: 10,
                        beta: 10,
                        viewDistance: 100,
                        depth: 50
                    },
                    marginTop: 60,
                    marginRight: 30
                },
                plotOptions: {
                    column: {
                        stacking: "normal",
                        depth: 50
                    },
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    var route = "{{ path('suivi_etudes_liste',{'demande_search':{'application' : "JS_APP", 'statut': {'0' : "JS_STATUT"}}})|raw}}";
                                    location.href = route.replace("JS_STATUT",(this.series.index)).replace("JS_APP",  (this.x+1));
                                }
                            }
                        }

                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>';

                    }
                },
                series: {{data|raw}},
                title: {
                    text: ""
                },
                xAxis: {
                    title: {
                        text: "Applications"
                    },
                    categories: {{categories|raw}}
                },
                yAxis: {
                    title: {
                        text: "Nombre de demandes"
                    },
                    allowDecimals: false
                }
            });
        });
        
    {# chart(barchart) }#}
    </script>
    {#<div id="barchart" style="min-width: 400px; height: 500px;"></div>#}
    <div id="containerChart" style="min-width: 400px; height: 500px;"></div>

{% endblock %}