#container {
    /*min-width:960px;*/
    padding:0px;
    margin-top:5px;
    margin-bottom:5px;
    background-color:white;
    /*border: 2px solid #e7e7e7;*/
    /*border: 2px solid black;*/
    
    box-shadow: 1px 1px 20px #555;
}
 
/**
 ***********        HEADER
 */
#header {
    position:relative;
    /*height:100px;*/
    padding:10px;
    border:none;
    margin:0;
   /* background-color:#428bca;
    background-color:#1e75cc;*/
    color:black;
}
#header h1 {
    margin:0;
    text-decoration:none;
}
#header h4 {
    margin:0 0 0 5px;
}

/*Image ronde de la personne connectÃ©e*/
#imgUser {
    padding:0;
    text-align:center
}

#se_nav {
    /*background-color:#1e75cc;*/
    margin-bottom:10px;
    border:none;
    border-top: 1px solid #1967be;
    border-bottom: 1px solid #1967be;
}

h2 {
    border-bottom: 2px solid #ff7518;
    width:70%;
    margin:10px 0 20px 0 ;
}


#content {
    min-height:400px;
}
#div_fiche h2 {
    width:100%;
}
#div_fiche h3 {
    border-bottom: 2px solid #ff7518;
    width:50%;
}

#div_fiche {
    padding-bottom:1em;
}
.libelle_fiche{
    font-weight:bold;
}

.inputAvancement {
    /*width:50%;*/
}
.spanAvancement {
    /*font-weight:bold;*/
    /*font-size:1.3em;*/
    /*margin-left:0.3em;*/
    display:block;
}
.input-disabeld {
    
}
//Arrondi les angle d'un label
.label-as-badge {
    -webkit-border-radius: 1em !important;
    -moz-border-radius: 1em !important;
    border-radius: 1em !important;
}
.badge-warning {
    background-color:#ff7518;
}

#description {
    text-align:justify;
}

#container_fiche {
    padding-top:1em;
    padding-bottom:1em;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}


#footer {
    /*border-top: 1px solid grey;*/
    padding:5px;
}


/**
 *******   FORMULAIRE DE CONNEXION A L'OUTIL   **********
 */
#form_login {
    
    box-shadow: 1px 1px 3px #555;
    box-shadow: 1px 1px 12px lightgrey;
}
#alertConnect {
    max-width: 380px;
    margin: 0 auto;
    margin-bottom:5px;
}
.wrapper {	
    margin: 80px 0 80px 0;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
